.b-burger-modal {
  width: 100%;
  padding-top: 92px;
  padding-bottom: 15px;
  background-color: getColor('secondary');
  pointer-events: initial;
  transform: translateY(0);
  transition: transform $time $function;

  @include max-599 {
    height: 100%;
    overflow: auto;
  }
}

.c-burger-modal--hidden {
  transform: translateY(-100%);
  pointer-events: none;
}

.b-burger-modal__container {
  @include max-mobile {
    width: 100%;
    padding-right: 38px;
    padding-left: 38px;
  }
}

.b-burger-modal__menu {
  margin-bottom: 20px;
  border-bottom: 1px solid getColor('border');

  @include min-600 {
    display: flex;
    justify-content: space-between;
  }

  @include min-small-desktop {
    display: none;
  }
}

.c-nav-menu__list {
  @include min-600 {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 40px;
  }
}

.c-nav-menu__item {
  &:not(:last-child) {
    @include max-599 {
      margin-bottom: 10px;
    }
  }
}

.c-nav-menu__link {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase;
}
