.c-button-burger {
  $button-width: 40px;
  $button-height: 40px;
  $line-height: 3px;

  position: relative;
  width: $button-width;
  height: $button-height;
  color: #000;
  background-color: transparent;

  &:hover,
  &:focus-visible {
    color: #ed3237;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 6px;
    width: 28px;
    height: $line-height;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 10px;
  }

  &::after {
    top: calc(100% - 10px - $line-height);
  }

  &__line {
    position: absolute;
    left: 6px;
    top: 50%;
    width: 28px;
    height: $line-height;
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  &--active {
    &::before {
      top: 46%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      top: 46%;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .c-button-burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}
