.button {
  background-color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 0.7;
  color: #fff;
  padding: 17px 43px;

  &:hover,
  &:focus-visible {
    background-color: #fff;
    color: #000;
  }
}
