.c-button-arrow {
  padding-right: 8px;
  padding-left: 8px;
  background-color: transparent;

  &:disabled {
    opacity: 0.5;
    color: currentColor;
  }
}

.c-button-arrow__icon {
  stroke: currentColor;
  stroke-width: 2px;
  pointer-events: none;
}
