.c-button-burger {
  position: relative;
  background-color: transparent;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 6px;
    width: 28px;
    height: 3px;
    background-color: currentColor;
  }

  &::before {
    top: 10px;
  }

  &::after {
    top: calc(100% - 10px - 3px);
  }
}

.c-button-burger__line {
  position: absolute;
  top: 50%;
  left: 6px;
  width: 28px;
  height: 3px;
  background-color: currentColor;
  transform: translateY(-50%);
}

.c-button-burger--active {
  &::before {
    top: 46%;
    transform: rotate(45deg);
  }

  &::after {
    top: 46%;
    transform: rotate(-45deg);
  }

  .c-button-burger__line {
    transform: scale(0);
  }
}
