.c-card-5 {
  height: 292px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}

.c-card-5--background-color {
  background-color: #000;
}

.c-card-5__link-category {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  padding: 6px 14px;
  z-index: 11;
}

.c-card-5__link-category--lite {
  color: #000;
  background-color: #fff;
}

.c-card-5__link-category--position {
  left: 16px;
  top: 20px;
}

.c-card-5__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.c-card-5__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 34px;
  padding-bottom: 10px;
}

.c-card-5__content--padding {
  padding-top: 158px;
  padding-left: 14px;
  padding-right: 14px;
}

.c-card-5__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
}

.c-card-5__title--color {
  color: #fff;
}

.c-card-5__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
}

.c-card-5__time {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  opacity: 0.5;
}

.c-card-5__time--color {
  color: #fff;
}
