.c-card-advertising {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: getColor('background');
}

.c-card-advertising__link {
  @include max-mobile {
    width: 330px;
  }
}
