.c-card-slide-hero {
  position: relative;
  height: 100%;
  padding: 16px;
}

.c-card-slide-hero__link-category {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  padding: 6px 14px;
  display: inline-block;
  margin-bottom: 20px;

  @include min-small-desktop {
    margin-bottom: 20px;
  }
}

.c-card-slide-hero__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-card-slide-hero__img-wrapper {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

.c-card-slide-hero__content {
  @include min-small-desktop {
    width: 610px;
  }
}

.c-card-slide-hero__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 24px;

  @include min-small-desktop {
    font-size: 36px;
    margin-bottom: 30px;
  }
}

.c-card-slide-hero__text {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;

  @include max-mobile {
    display: none;
  }
}
