.c-card-topic {
  position: relative;
  padding: 15px;

  @include min-tablet {
    display: flex;
    justify-content: space-between;
  }
}

.c-card-topic__picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.c-card-topic__main {
  margin-bottom: 15px;

  @include min-tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @include min-desktop {
    padding-top: 31px;
    padding-bottom: 52px;
  }

  @include min-small-desktop {
    width: 450px;
  }
}

.c-card-topic__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  color: getColor('secondary');

  @include min-tablet {
    font-size: 28px;
    text-align: left;
  }

  @include min-small-desktop {
    font-size: 36px;
    line-height: 1.2;
  }

  @include min-desktop {
    font-size: 40px;
  }
}

.c-card-topic__link {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.9;
  text-align: center;
  text-transform: uppercase;
  color: getColor('secondary');
  opacity: 0.5;
  transition: color $time $function, opacity $time $function;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 27%;

    @include min-tablet {
      height: 100%;
    }
  }

  @include min-tablet {
    text-align: left;
  }

  &:hover,
  &:focus-visible {
    opacity: 1;
  }
}

.c-card-topic__content-list {
  padding-right: 10px;
  overflow-y: scroll;

  @include max-mobile {
    height: 272px;
  }

  @include min-small-desktop {
    width: 385px;
  }
}

.c-card-topic__content-item {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: getColor('secondary');
    opacity: 0.5;
  }
}

.c-card-topic__content-link {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  color: getColor('secondary');

  @include min-desktop {
    padding-bottom: 15px;
  }
}

.c-card-topic__content-text {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;

  @include min-small-desktop {
    font-size: 20px;
    line-height: 1.2;
  }

  @include min-desktop {
    margin-bottom: 15px;
  }
}

.c-card-topic__content-time {
  font-weight: 500;
  font-size: 14px;
  color: getColor('secondary');
  opacity: 0.5;
}
