.c-card-category {
  position: relative;
  height: 100%;
  padding: 15px;
  cursor: pointer;
}

.c-card-category__category {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-bottom: 30px;

  @include min-480 {
    margin-bottom: 50px;
  }

  @include min-600 {
    margin-bottom: 90px;
  }

  @include min-small-desktop {
    margin-bottom: 115px;
  }

  @include min-desktop {
    margin-bottom: 170px;
  }
}

.c-card-category__link {
  pointer-events: none;
}

.c-card-category__category--mb--20 {
  margin-bottom: 20px;
}

.c-card-category__picture {
  height: 100%;
}

.c-card-category__img {
  height: 100%;
}

.c-card-category__content--plr--25 {
  padding-left: 25px;
  padding-right: 25px;

  @include min-mobile {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.c-card-category__content--ta--center {
  text-align: center;
}

.c-card-category__content--w--610 {
  @include min-small-desktop {
    width: 610px;
  }
}

.c-card-category__title {
  margin-bottom: 15px;

  @include min-small-desktop {
    margin-bottom: 20px;
  }
}

.c-card-category__title--mb--20 {
  margin-bottom: 20px;

  @include min-small-desktop {
    margin-bottom: 30px;
  }
}

.c-card-category__link {
  font-weight: 700;
  font-size: 40px;
  color: getColor('secondary');

  @include min-tablet {
    font-size: 48px;
    line-height: 0.75;
  }

  @include min-small-desktop {
    font-size: 54px;
  }
}

.c-card-category__link--typography {
  font-size: 28px;
  line-height: 1.1;

  @include min-small-desktop {
    font-size: 36px;
  }
}

.c-card-category__text {
  font-weight: 500;
  font-size: 20px;
  color: getColor('secondary');

  @include min-small-desktop {
    font-size: 24px;
  }
}

.c-card-category__text--typography {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;

  @include max-599 {
    display: none;
  }

  @include min-tablet {
    font-size: 20px;
    line-height: 1.2;
  }
}

.c-card-category__progress {
  width: 35%;

  @include min-tablet {
    display: none;
  }
}
