.c-card-news {
  position: relative;
  height: 100%;
}

.c-card-news__picture {
  position: absolute;
  top: 0;
  left: 0;
}

.c-card-news__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 260px;
}

.c-card-news__content-background {
  flex-basis: 100px;
  height: 194px;
  background-color: getColor('basic');
}

.c-card-news__content {
  flex-basis: 140px;
  padding-bottom: 95px;

  @include min-tablet {
    flex-basis: 335px;
    padding-right: 25px;
    padding-bottom: 35px;
  }
}

.c-card-news__title {
  @include min-tablet {
    margin-bottom: 32px;
  }
}

.c-card-news__link {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.25;
}

.c-card-news__text {
  font-size: 18px;
  line-height: 1.28;

  @include max-mobile {
    display: none;
  }
}

.c-card-news__author {
  display: flex;
  justify-content: end;
  align-items: end;
  height: 140px;
  padding-right: 25px;
  padding-bottom: 10px;
  background-color: getColor('basic');
}

.c-card-news__author-link {
  position: relative;
  z-index: 2;
  flex-basis: 140px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: right;
  color: getColor('secondary');
  text-transform: capitalize;
}

.c-card-news__author-editor {
  display: inline-block;
  padding-top: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  opacity: 0.75;
}
