.c-card-rating {
  position: relative;
  height: 100%;
}

.c-card-rating--bgc--dark {
  background-color: getColor('basic');
}

.c-card-rating--bgc--lite {
  background-color: getColor('secondary');
}

.c-card-rating__picture--absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.c-card-rating__picture--mb--38 {
  margin-bottom: 38px;

  @include min-desktop {
    margin-bottom: 55px;
  }
}

.c-card-rating__content {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 15px;

  @include min-desktop {
    padding: 30px;
  }
}

.c-card-rating__link-category {
  margin-bottom: 25px;

  @include min-desktop {
    margin-bottom: 35px;
  }
}

.c-card-rating__number {
  margin-bottom: 40px;
  padding-top: 70px;
  font-weight: 700;
  font-size: 90px;
  color: getColor('secondary');

  @include min-desktop {
    margin-bottom: 60px;
    padding-top: 90px;
    font-size: 100px;
  }
}

.c-card-rating__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: getColor('secondary');

  @include min-desktop {
    font-size: 24px;
  }
}

.c-card-rating__link--dark {
  color: getColor('basic');
}

.c-card-rating__text {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: getColor('secondary');

  @include min-desktop {
    margin-bottom: 30px;
    font-size: 24px;
  }
}
