.c-card-photo-day {
  position: relative;
  height: 100%;
  border-bottom: 1px solid getColor('border');

  @include min-tablet {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 75px;
    padding-left: 15px;
    border-bottom: none;
  }
}

.c-card-photo-day__category {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
}

.c-card-photo-day__picture {
  @include min-tablet {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.c-card-photo-day__title {
  @include max-mobile {
    padding-top: 10px;
  }
}

.c-card-photo-day__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  @include min-tablet {
    width: 400px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    color: getColor('secondary');
  }
}
