.c-card-slide-rating {
  position: relative;
  height: 100%;
  text-align: center;
  padding: 20px;

  @include desktop {
    padding: 34px;
  }
}

.c-card-slide-rating--background-color {
  background-color: #060606;
}

.c-card-slide-rating__link-category {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 90px;
  color: #fff;

  @media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    margin-bottom: 120px;
  }

  @include desktop {
    margin-bottom: 130px;
  }
}

.c-card-slide-rating__link-category--color {
  color: #000;
}

.c-card-slide-rating__link-category--margin-bottom {
  margin-bottom: 30px;

  @include desktop {
    margin-bottom: 46px;
  }
}

.c-card-slide-rating__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-card-slide-rating__img-wrapper--absolute {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

.c-card-slide-rating__img-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;

  @include desktop {
    margin-bottom: 50px;
  }
}

.c-card-slide-rating__number {
  font-weight: 700;
  font-size: 90px;
  color: #fff;
  margin-bottom: 40px;
  display: inline-block;

  @include desktop {
    font-size: 100px;
    margin-bottom: 60px;
  }
}

.c-card-slide-rating__number--color {
  color: #000;
}

.c-card-slide-rating__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  color: #fff;

  @include desktop {
    font-size: 24px;
  }
}

.c-card-slide-rating__title--color {
  color: #000;
}

.c-card-slide-rating__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  color: #fff;
  margin-bottom: 10px;

  @include desktop {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
