.c-content-list {
  overflow-y: scroll;
  padding-right: 10px;
}

.c-content-list__item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;

    @include desktop {
      margin-bottom: 30px;
    }

    &::after {
      position: absolute;
      content: '';
      left: 0;
      bottom: -10px;
      width: 50px;
      height: 1px;
      background: #fff;
      opacity: 0.5;

      @include desktop {
        bottom: -20px;
      }
    }
  }
}

.c-content-list__link {
  display: flex;
  flex-direction: column;
}

.c-content-list__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 10px;

  @include min-small-desktop {
    font-size: 20px;
    line-height: 1.2;
  }

  @include desktop {
    margin-bottom: 20px;
  }
}

.c-content-list__time {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
}
