.c-grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-row-gap: 30px;
  grid-column-gap: 24px;
  justify-content: center;
}

.c-grid-list__item--gc--2tracks {
  @include min-tablet {
    grid-column: 1 / span 2;
  }
}

.c-grid-list__item--gc--2tracks-ukr {
  @include tablet {
    grid-column: 1 / span 2;
  }

  @include min-small-desktop {
    grid-column: 2 / span 2;
  }

  @include min-desktop {
    grid-column: 3 / span 2;
  }
}

.c-grid-list__item--order---1 {
  @include small-desktop {
    order: -1;
  }
}

.c-grid-list__item {
  height: 400px;
}

.c-grid-list__item--h--250 {
  height: 250px;
}

.c-grid-list__item--h--292 {
  height: 292px;
}
