.c-language {
  display: flex;
  align-items: center;
}

.c-language__item {
  &:not(:last-child) {
    @include min-480 {
      margin-right: 10px;
    }
  }
}

.c-language__item--hidden {
  @include max-479 {
    display: none;
  }
}

.c-language__link {
  padding: 8px 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  transition: color $time $function;
}

.c-language__link--active {
  color: getColor('accent');
}
