.c-menu-footer {
  display: grid;
  grid-template-rows: repeat(auto-fill, 40px);
  grid-template-columns: repeat(2, max-content);
  justify-content: space-around;

  @media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
  }

  @include desktop {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
  }
}

.c-menu-footer__link {
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 2.1;
  text-transform: uppercase;
  color: #000;

  &:hover,
  &:focus-visible {
    color: #ed3237;
  }
}
