.c-search-form {
  display: flex;
  position: absolute;
  right: 15px;
  top: calc(100% + 25px);
  z-index: 9999;

  @include min-tablet {
    right: 38px;
  }

  @include desktop {
    right: 84px;
  }
}

.c-search-form__input {
  max-width: 300px;
  padding: 0 10px;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  border: 1px solid #000;

  @include max-mobile {
    width: 205px;
  }

  &::placeholder {
    color: rgba(128, 128, 128, 0.6);
  }

  &:hover,
  &:focus-visible {
    border-color: #ed3237;
    color: #ed3237;

    &::placeholder {
      color: rgba(237, 50, 55, 0.6);
    }
  }
}

.c-search-form__button {
  color: #fff;
  background-color: #000;
  padding: 17px 34px;
  font-weight: 500;
  font-size: 20px;
  line-height: 0.7;

  &:hover,
  &:focus-visible {
    background-color: #ed3237;
  }
}
