.c-slider-popular {
  position: relative;
}

.c-slider-popular__container {
  overflow: hidden;
}

.c-slider-popular__list {
  display: flex;
  column-gap: 24px;
}

.c-slider-popular__item {
  min-width: 300px;
  height: 292px;
}

.c-slider-popular__button-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @include max-tablet {
    display: none;
  }
}

.c-slider-popular__button-arrow--left {
  left: -38px;

  @include min-desktop {
    left: -60px;
  }
}

.c-slider-popular__button-arrow--right {
  right: -38px;

  @include min-desktop {
    right: -60px;
  }
}
