.c-slider-ratings {
  position: relative;
}

.c-slider-ratings__container {
  overflow: hidden;
}

.c-slider-ratings__list {
  display: flex;
}

.c-slider-ratings__item {
  min-width: 300px;
  height: 378px;

  &:not(:last-child) {
    margin-right: 24px;
  }

  @include min-tablet {
    min-width: 334px;
    height: 421px;
  }

  @include min-small-desktop {
    min-width: 300px;
    height: 378px;
  }

  @include min-desktop {
    min-width: 408px;
    height: 514px;
  }
}

.c-slider-ratings__button-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @include max-mobile {
    display: none;
  }
}

.c-slider-ratings__button-arrow--left {
  left: -38px;

  @include min-desktop {
    left: -60px;
  }
}

.c-slider-ratings__button-arrow--right {
  right: -38px;

  @include min-desktop {
    right: -60px;
  }
}
