.c-slider-popular {
  position: relative;
  height: 292px;
}

.c-slider-popular__container {
  height: 100%;
  overflow: hidden;
}

.c-slider-popular__list {
  display: flex;
  height: 100%;
}

.c-slider-popular__item {
  min-width: 300px;
  &:not(:last-child) {
    margin-right: 24px;
  }
}

.c-slider-popular__button-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black;
}

.c-slider-popular__button-arrow--left {
  left: -38px;

  @include desktop {
    left: -60px;
  }
}

.c-slider-popular__button-arrow--right {
  right: -38px;

  @include desktop {
    right: -60px;
  }
}
