.c-slider-hero__container {
  overflow: hidden;
}

.c-slider-hero__list {
  display: flex;
}

.c-slider-hero__item {
  min-width: 100%;
  height: 300px;

  @include min-tablet {
    height: 254px;
  }

  @include min-small-desktop {
    height: 348px;
  }

  @include min-desktop {
    height: 466px;
  }
}
