.c-slider-ratings {
  position: relative;
  user-select: none;
  touch-action: pan-y pinch-zoom;
}

.c-slider-ratings__container {
  overflow: hidden;
}

.c-slider-ratings__list {
  display: flex;
  column-gap: 24px;
}

.c-slider-ratings__item {
  min-width: 300px;
  min-height: 378px;

  @include min-desktop {
    min-width: 408px;
    min-height: 514px;
  }
}

.c-slider-ratings__button-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @include max-tablet {
    display: none;
  }
}

.c-slider-ratings__button-arrow--left {
  left: -38px;

  @include min-desktop {
    left: -60px;
  }
}

.c-slider-ratings__button-arrow--right {
  right: -38px;

  @include min-desktop {
    right: -60px;
  }
}

.c-slider-ratings__scrollbar-drag {
  width: 35%;
}
