.c-slider-hero {
  user-select: none;
  touch-action: pan-y pinch-zoom;
}

.c-slider-hero__container {
  overflow: hidden;
}

.c-slider-hero__list {
  display: flex;
  transform: translateX(-100%);
}

.c-slider-hero__item {
  min-width: 100%;
  min-height: 270px;

  @include min-small-desktop {
    min-height: 348px;
  }

  @include min-desktop {
    min-height: 466px;
  }
}
