.c-slider-focus {
  position: relative;
}

.c-slider-focus__container {
  overflow: hidden;
}

.c-slider-focus__list {
  display: flex;
}

.c-slider-focus__item {
  min-width: 100%;
  height: 300px;

  @include min-tablet {
    height: 250px;
  }

  @include min-small-desktop {
    height: 300px;
  }

  @include min-desktop {
    height: 400px;
  }
}

.c-slider-focus__button-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
}

.c-slider-focus__button-arrow--left {
  left: 0;

  @include min-tablet {
    left: 15px;
  }

  @include min-small-desktop {
    left: 30px;
  }
}

.c-slider-focus__button-arrow--right {
  right: 0;

  @include min-tablet {
    right: 15px;
  }

  @include min-small-desktop {
    right: 30px;
  }
}

.c-slider-focus__button-arrow--lite {
  color: getColor('secondary');
}
