.b-header {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: getColor('secondary');
  border-bottom: 1px solid getColor('border');
}

.b-header--fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.b-header__container {
  display: flex;
  align-items: center;

  @include min-tablet {
    padding-right: 15px;
    padding-left: 15px;
  }

  @include min-desktop {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.b-header__button-burger {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.b-header__logo {
  margin-right: auto;

  @include min-small-desktop {
    margin-right: calc((100% - 567px) / 2 - 190px);
  }

  &:focus-visible {
    outline: 1px solid getColor('accent');
  }
}

.b-header__menu {
  @include max-tablet {
    display: none;
  }

  @include min-small-desktop {
    display: flex;
    margin-right: auto;
  }
}

.b-header__language {
  margin-right: 6px;
}

.b-header__form-search {
  position: absolute;
  top: 82px;
  right: 10px;
  z-index: 999;

  @include min-mobile {
    right: 15px;
  }

  @include min-tablet {
    right: calc((100vw - $min-tablet) / 2 + 15px);
  }

  @include min-small-desktop {
    right: calc((100vw - $min-small-desktop) / 2 + 38px);
  }

  @include min-desktop {
    right: calc((100vw - $desktop) / 2 + 84px);
  }
}
