.b-hero {
  padding-top: 102px;
  padding-bottom: 25px;
}

.b-hero__tab-list {
  display: none;
  user-select: none;

  @include min-tablet {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

.b-hero__tab-item {
  @include min-tablet {
    flex-basis: calc((100% - 58px) / 4);
    min-height: 45px;
    cursor: pointer;
  }

  @include min-small-desktop {
    flex-basis: calc((100% - 72px) / 4);
  }

  @include min-desktop {
    min-height: 60px;
  }

  &:hover .c-card-tab-hero__text,
  &:focus-visible .c-card-tab-hero__text {
    color: getColor('accent');
  }
}
