.b-popular {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: getColor('background');
}

.b-popular__title {
  margin-bottom: 30px;

  @include max-mobile {
    text-align: center;
  }
}
