.b-special-topic {
  padding-top: 25px;
  padding-bottom: 25px;
}

.b-special-topic__card-topic {
  min-height: 375px;

  @include min-480 {
    min-height: 250px;
  }

  @include min-desktop {
    min-height: 302px;
  }
}
