.b-subscription {
  padding-top: 25px;
  padding-bottom: 40px;
}

.b-subscription__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 20px;
  column-gap: 20px;
  padding: 15px;
  background-color: getColor('accent');

  @include min-small-desktop {
    padding: 10px 20px;
  }

  @include min-desktop {
    padding-left: 56px;
    padding-right: 56px;
  }
}

.b-subscription__focus-list {
  @include min-small-desktop {
    position: relative;
    bottom: -10px;
    display: flex;
    align-items: end;
    column-gap: 10px;
  }

  @include min-desktop {
    column-gap: 16px;
  }
}

.b-subscription__focus-item {
  &:not(:last-child) {
    @include max-tablet {
      display: none;
    }
  }
}

.b-subscription__focus-img {
  filter: drop-shadow(5px 4px 6px rgba(0, 0, 0, 0.15));
}

.b-subscription__text-wrapper {
  @include min-small-desktop {
    max-width: 126px;
  }

  @include min-desktop {
    max-width: 256px;
  }
}

.b-subscription__text {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
  line-height: 0.9;
  color: getColor('secondary');

  @include min-desktop {
    font-size: 24px;
  }
}

.b-subscription__subtext {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: getColor('secondary');
}

.b-subscription__button {
  padding: 17px 43px;
}
