.b-subscription {
  padding-top: 25px;
  padding-bottom: 40px;
}

.b-subscription__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: getColor('accent');

  @include min-600 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @include min-small-desktop {
    padding: 10px 20px;
  }

  @include min-desktop {
    padding-left: 56px;
    padding-right: 56px;
  }
}

.b-subscription__focus-list {
  @include max-599 {
    margin-bottom: 20px;
  }

  @include min-small-desktop {
    position: relative;
    bottom: -10px;
    display: flex;
    align-items: flex-end;
  }
}

.b-subscription__focus-item {
  &:not(:last-child) {
    @include max-tablet {
      display: none;
    }

    @include min-small-desktop {
      margin-right: 10px;
    }

    @include min-desktop {
      margin-right: 16px;
    }
  }
}

.b-subscription__focus-img {
  filter: drop-shadow(5px 4px 6px rgba(0, 0, 0, 0.15));
}

.b-subscription__text-wrapper {
  margin-bottom: 20px;
  text-align: center;

  @include min-600 {
    flex-grow: 1;
    flex-basis: 150px;
    max-width: 256px;
    margin-bottom: 0;
  }

  @include min-600-max-tablet {
    padding-left: 12px;
    padding-right: 12px;
  }

  @include min-desktop {
    text-align: left;
  }
}

.b-subscription__text {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
  line-height: 0.9;
  color: getColor('secondary');

  @include min-desktop {
    font-size: 24px;
  }
}

.b-subscription__subtext {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: getColor('secondary');
}

.b-subscription__button {
  padding: 17px 43px;
}
