@mixin flex-h-center {
  display: flex;
  justify-content: center;
}

@mixin flex-v-center {
  display: flex;
  align-items: center;
}

@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-sb-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

$browser-context: 16;

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}
