*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

html {
  height: 100%;
  line-height: 1;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: 'CeraPro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  color: getColor('basic');
}

// body {
//   overflow: hidden;
// }

h1,
h2,
h3,
button,
input {
  font-weight: inherit;
  font-size: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button,
input {
  font-family: inherit;
  color: inherit;
  transition: color $time $function;

  &:hover,
  &:focus {
    color: getColor('accent');
  }
}

button {
  line-height: 0;
  cursor: pointer;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: color $time $function;

  &:hover,
  &:focus {
    color: getColor('accent');
  }
}
