.c-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;

  @include min-mobile {
    padding-left: 15px;
    padding-right: 15px;
  }

  @include min-tablet {
    width: $min-tablet;
  }

  @include min-small-desktop {
    width: $min-small-desktop;
    padding-left: 38px;
    padding-right: 38px;
  }

  @include min-desktop {
    width: $desktop;
    padding-left: 84px;
    padding-right: 84px;
  }
}
