.c-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @include min-mobile {
    width: $min-mobile;
  }

  @include min-tablet {
    width: $min-tablet;
    padding-left: 38px;
    padding-right: 38px;
  }

  @include min-small-desktop {
    width: $min-small-desktop;
  }

  @include min-desktop {
    width: $desktop;
    padding-left: 84px;
    padding-right: 84px;
  }
}
