<div class="c-backdrop c-backdrop--hidden js-backdrop-burger-modal">
  <div class="b-burger-modal c-burger-modal--hidden js-burger-modal">
    <div class="b-burger-modal__container c-container">
      <ul class="b-burger-modal__menu c-menu">
        <li class="c-menu__item c-menu__item--mb--10">
          <a class="c-menu__link" href="#categories">Категории</a>
        </li>
        <li class="c-menu__item c-menu__item--mb--10">
          <a class="c-menu__link" href="#special-topic">Спецтема</a>
        </li>
        <li class="c-menu__item c-menu__item--mb--10">
          <a class="c-menu__link" href="#ratings">Рейтинги</a>
        </li>
        <li class="c-menu__item c-menu__item--mb--10">
          <a class="c-menu__link" href="#subscription">Подписка</a>
        </li>
      </ul>
      <nav class="c-nav-menu">
        <ul class="c-nav-menu__list">
          <li class="c-nav-menu__item">
            <a class="c-nav-menu__link" href="#">Все новости</a>
          </li>
          <li class="c-nav-menu__item">
            <a class="c-nav-menu__link" href="#">Политика</a>
          </li>
          <li class="c-nav-menu__item">
            <a class="c-nav-menu__link" href="#">Украина</a>
          </li>
          <li class="c-nav-menu__item">
            <a class="c-nav-menu__link" href="#">Мир</a>
          </li>
          <li class="c-nav-menu__item">
            <a class="c-nav-menu__link" href="#">Экономика</a>
          </li>
          <li class="c-nav-menu__item">
            <a class="c-nav-menu__link" href="#">Технологии и наука</a>
          </li>
          <li class="c-nav-menu__item">
            <a class="c-nav-menu__link" href="#">Авто</a>
          </li>
          <li class="c-nav-menu__item">
            <a class="c-nav-menu__link" href="#">Стиль жизни</a>
          </li>
          <li class="c-nav-menu__item">
            <a class="c-nav-menu__link" href="#">Спорт</a>
          </li>
          <li class="c-nav-menu__item">
            <a class="c-nav-menu__link" href="#">Культура</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
