.footer {
  padding-top: 26px;
  padding-bottom: 20px;
}

.footer__my-container {
  @include max-mobile {
    width: 100%;
  }
}

.footer__logo {
  margin-bottom: 28px;
}

.footer__main {
  margin-bottom: 26px;

  @include min-small-desktop {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    margin-bottom: 48px;
  }
}

.footer__menu {
  margin-bottom: 26px;

  @include min-small-desktop {
    flex-basis: calc((100% - 40px) / 2);
    margin-bottom: 0;
  }
}

.footer__focus {
  @include min-small-desktop {
    flex-basis: calc((100% - 40px) / 2);
  }

  @media screen and (min-width: 600px) and (max-width: $max-tablet) {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.footer__focus-list {
  display: flex;
  justify-content: space-evenly;

  @media screen and (max-width: 599px) {
    margin-bottom: 26px;
  }

  @media screen and (min-width: 600px) and (max-width: $max-tablet) {
    justify-content: space-around;
    flex-basis: calc(100% / 2);
  }

  @media screen and (min-width: $min-small-desktop) and (max-width: $max-small-desktop) {
    margin-bottom: 20px;
  }

  @include desktop {
    justify-content: space-between;
    flex-basis: calc((100% - 40px) / 2);
  }
}

.footer__subscription {
  text-align: center;

  @media screen and (min-width: 600px) and (max-width: $max-tablet) {
    flex-basis: calc(calc(100% / 2));
  }

  @media screen and (min-width: $min-small-desktop) and (max-width: $max-small-desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include desktop {
    flex-basis: calc((100% - 40px) / 2);
  }
}

.footer__text {
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  color: #000;
  margin-bottom: 23px;

  @media screen and (min-width: 600px) {
    width: 210px;
  }

  @media screen and (min-width: $min-small-desktop) and (max-width: $max-small-desktop) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.footer__content-list {
  margin-bottom: 26px;

  @include min-small-desktop {
    display: flex;
    justify-content: space-between;
  }
}

.footer__content-item {
  @include max-tablet {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  @include min-small-desktop {
    flex-basis: calc((100% - 40px) / 2);
  }
}

.footer__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  opacity: 0.5;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.footer__copyright {
  @include min-tablet {
    display: flex;
    justify-content: space-between;
  }
}

.footer__copyright-text {
  @include max-mobile {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  @include min-tablet {
    flex-basis: calc((100% - 40px) / 2);
  }
}
