.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #fff;
}

.header__my-container {
  @include flex-v-center;
  position: relative;

  @include min-tablet {
    padding-left: 15px;
    padding-right: 15px;
  }

  @include desktop {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header__button-burger {
  margin-right: 16px;
}

.header__logo {
  @include max-tablet {
    margin-right: auto;
  }

  @include min-small-desktop {
    margin-right: 29px;
  }

  @include desktop {
    margin-right: 222px;
  }
}

.header__menu {
  margin-right: auto;

  @include max-tablet {
    display: none;
  }
}

.header__language {
  margin-right: 6px;
}
