.hero {
  padding-top: 97px;
  padding-bottom: 20px;
}

.hero__list {
  display: none;

  @include min-tablet {
    margin-bottom: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include max-tablet {
    margin-top: -24px;
    justify-content: space-around;
  }
}

.hero__item {
  height: 60px;
  width: 300px;

  @include max-tablet {
    margin-top: 24px;
  }

  @media screen and (min-width: $min-small-desktop) and (max-width: $max-small-desktop) {
    width: 219px;
  }
}
