.subscription {
  padding-top: 26px;
  padding-bottom: 40px;
}

.subscription__wrapper {
  background-color: #ed3237;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  @include min-tablet {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  @include min-small-desktop {
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: nowrap;
  }

  @include desktop {
    padding-left: 56px;
    padding-right: 56px;
  }
}

.subscription__focus-list {
  display: flex;
  align-items: end;
  margin-bottom: 20px;
  margin-left: -16px;
  margin-top: -16px;

  @include max-mobile {
    justify-content: center;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $min-small-desktop) and (max-width: $max-small-desktop) {
    margin-left: -10px;
    margin-top: -10px;
  }

  @include min-small-desktop {
    position: relative;
    bottom: -10px;
    margin-bottom: 0px;
  }
}

.subscription__focus-item {
  margin-left: 16px;
  margin-top: 16px;

  @media screen and (min-width: $min-small-desktop) and (max-width: $max-small-desktop) {
    margin-left: 10px;
    margin-top: 10px;
  }
}

.subscription__text-wrapper {
  @include max-mobile {
    text-align: center;
    margin-bottom: 20px;
  }

  @include min-tablet {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: $min-small-desktop) and (max-width: $max-small-desktop) {
    width: 126px;
  }
}

.subscription__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 0.58;
  margin-bottom: 10px;
  color: #fff;

  @media screen and (min-width: $min-small-desktop) and (max-width: $max-small-desktop) {
    font-size: 22px;
    line-height: 0.9;
    margin-bottom: 6px;
  }
}

.subscription__subtext {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  color: #fff;
}

.subscription__button {
  @include max-mobile {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
