.ukraine {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ukraine__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  grid-template-rows: auto;
  grid-column-gap: 24px;
  grid-row-gap: 30px;
}

.ukraine__item {
  @media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    &:nth-child(3) {
      grid-column: 1 / span 2;
    }
  }

  @include desktop {
    &:nth-child(3) {
      grid-column: 3 / span 2;
    }
  }
}

.ukraine__title {
  margin-bottom: 26px;

  @include max-mobile {
    text-align: center;
  }
}
