<section>
  <div class="my-container">
    <article>
      <a href="#"></a>
      <ul>
        <li>
          <picture>
            <source
              srcset="
                @img/advertising/1x/1x-okko.webp 1x,
                @img/advertising/2x/2x-okko.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/advertising/1x/1x-okko.jpg 1x,
                @img/advertising/2x/2x-okko.jpg 2x
              "
            />
            <img
              src="@img/advertising/1x/1x-okko.jpg"
              alt="okko"
              width="220"
              height="212"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              srcset="
                @img/advertising/1x/1x-okko-logo.webp 1x,
                @img/advertising/2x/2x-okko-logo.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/advertising/1x/1x-okko-logo.jpg  1x,
                @img/advertising/2x//2x-okko-logo.jpg 2x
              "
            />
            <img
              src="@img/advertising/1x/1x-okko-logo.jpg"
              alt="okko"
              width="180"
              height="240"
            />
          </picture>
        </li>
      </ul>
    </article>
  </div>
</section>
