<section class="b-advertising">
  <div class="c-container">
    <h2 class="u-visually-hidden">Реклама</h2>
    <article class="c-card-advertising">
      <h3 class="u-visually-hidden">ОККО</h3>
      <a class="c-card-advertising__link" href="#">
        <picture class="c-card-advertising__picture">
          <source
            srcset="
              @img/advertising/1x/1x-okko-desktop.webp 1x,
              @img/advertising/2x/2x-okko-desktop.webp 2x
            "
            media="(min-width: 1024px)"
            type="image/webp"
          />
          <source
            srcset="
              @img/advertising/1x/1x-okko-desktop.jpg 1x,
              @img/advertising/2x/2x-okko-desktop.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              @img/advertising/1x/1x-okko-tablet.webp 1x,
              @img/advertising/2x/2x-okko-tablet.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              @img/advertising/1x/1x-okko-tablet.jpg 1x,
              @img/advertising/2x/2x-okko-tablet.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              @img/advertising/1x/1x-okko-mobile.webp 1x,
              @img/advertising/2x/2x-okko-mobile.webp 2x
            "
            media="(min-width: 360px)"
            type="image/webp"
          />
          <source
            srcset="
              @img/advertising/1x/1x-okko-mobile.jpg 1x,
              @img/advertising/2x/2x-okko-mobile.jpg 2x
            "
            media="(min-width: 360px)"
          />
          <img
            class="c-card-advertising__img"
            src="@img/advertising/1x/1x-okko-desktop.jpg"
            loading="lazy"
            alt="ОККО"
            width="948"
            height="240"
          />
        </picture>
      </a>
    </article>
  </div>
</section>
