<section class="beautiful-country">
  <div class="my-container beautiful-country__my-container">
    <h2 class="title beautiful-country__title">Красивая страна</h2>
    <ul class="beautiful-country__list">
      <li class="beautiful-country__item">
        <article class="c-card-1">
          <a href="#" class="c-card-1__link-category">Украина</a>
          <a href="#" class="c-card-1__link"></a>
          <div class="c-card-1__img-wrapper">
            <picture>
              <source
                srcset="
                  @img/beautiful-country/1x/1x-punishment-quarantine.webp 1x,
                  @img/beautiful-country/2x/2x-punishment-quarantine.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/beautiful-country/1x/1x-punishment-quarantine.jpg 1x,
                  @img/beautiful-country/2x/2x-punishment-quarantine.jpg 2x
                "
              />
              <img
                class="c-card-1__img"
                src="@img/beautiful-country/1x/1x-punishment-quarantine.jpg"
                alt="Наказание карантином. Чем грозит Украине вторая волна борьбы с
                  коронавирусом"
                width="300"
                height="260"
              />
            </picture>
          </div>
          <div class="c-card-1__content">
            <h3 class="c-card-1__title">
              Наказание карантином. Чем грозит Украине вторая волна борьбы с
              коронавирусом
            </h3>
            <span class="c-card-1__time">15:44</span>
          </div>
        </article>
      </li>
      <li class="beautiful-country__item">
        <article class="c-card-1">
          <a href="#" class="c-card-1__link-category">Украина</a>
          <a href="#" class="c-card-1__link"></a>
          <div class="c-card-1__img-wrapper">
            <picture>
              <source
                srcset="
                  @img/beautiful-country/1x/1x-skyscrapers.webp 1x,
                  @img/beautiful-country/2x/2x-skyscrapers.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/beautiful-country/1x/1x-skyscrapers.jpg 1x,
                  @img/beautiful-country/2x/2x-skyscrapers.jpg 2x
                "
              />
              <img
                class="c-card-1__img"
                src="@img/beautiful-country/1x/1x-skyscrapers.jpg"
                alt="Небоскребы советских времен. Три маршрута к памятникам советского
                  модернизма в Киеве"
                width="300"
                height="260"
              />
            </picture>
          </div>
          <div class="c-card-1__content">
            <h3 class="c-card-1__title">
              Небоскребы советских времен. Три маршрута к памятникам советского
              модернизма в Киеве
            </h3>
            <span class="c-card-1__time">15:44</span>
          </div>
        </article>
      </li>
      <li class="beautiful-country__item">
        <article class="c-card-2">
          <a href="#" class="c-card-2__link-category">Рейтинг</a>
          <a href="#" class="c-card-2__link"></a>
          <div class="c-card-2__img-wrapper">
            <picture>
              <source
                srcset="
                  @img/categories/1x/1x-from-song-words-not-throw-out.webp 1x,
                  @img/categories/2x/2x-from-song-words-not-throw-out.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/categories/1x/1x-from-song-words-not-throw-out.jpg 1x,
                  @img/categories/2x/2x-from-song-words-not-throw-out.jpg 2x
                "
              />
              <img
                class="c-card-2__img"
                src="@img/categories/1x/1x-from-song-words-not-throw-out.jpg"
                alt="Из песни слов не выкинешь. Рейтинг Фокуса: самые успешные звезды шоу-бизнеса"
                width="300"
                height="400"
              />
            </picture>
          </div>
          <div class="c-card-2__content">
            <span class="c-card-2__number">100</span>
            <h3 class="c-card-2__title">
              Из песни слов не выкинешь. Рейтинг Фокуса: самые успешные звезды
              шоу-бизнеса
            </h3>
          </div>
        </article>
      </li>
      <li class="beautiful-country__item">
        <article class="c-card-1">
          <a href="#" class="c-card-1__link-category">Украина</a>
          <a href="#" class="c-card-1__link"></a>
          <div class="c-card-1__img-wrapper">
            <picture>
              <source
                srcset="
                  @img/beautiful-country/1x/1x-how-hardened-steel.webp 1x,
                  @img/beautiful-country/2x/2x-how-hardened-steel.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/beautiful-country/1x/1x-how-hardened-steel.jpg 1x,
                  @img/beautiful-country/2x/2x-how-hardened-steel.jpg 2x
                "
              />
              <img
                class="c-card-1__img"
                src="@img/beautiful-country/1x/1x-how-hardened-steel.jpg"
                alt="Как закалилась сталь. Музей Островского в Шепетовке — памятник
                  архитектуры, а не идеологии"
                width="300"
                height="260"
              />
            </picture>
          </div>
          <div class="c-card-1__content">
            <h3 class="c-card-1__title">
              Как закалилась сталь. Музей Островского в Шепетовке — памятник
              архитектуры, а не идеологии
            </h3>
            <span class="c-card-1__time">15:44</span>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
