<section class="b-beautiful-country">
  <div class="c-container">
    <h2 class="b-beautiful-country__title c-title">Красивая страна</h2>
    <ul class="c-grid-list">
      <li class="c-grid-list__item">
        <article class="c-card-category-small">
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--bottom c-link-category"
            href="#"
            >Украина</a
          >
          <picture class="c-card-category-small__picture">
            <source
              srcset="
                @img/beautiful-country/1x/1x-punishment-quarantine.webp 1x,
                @img/beautiful-country/2x/2x-punishment-quarantine.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/beautiful-country/1x/1x-punishment-quarantine.jpg 1x,
                @img/beautiful-country/2x/2x-punishment-quarantine.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/beautiful-country/1x/1x-punishment-quarantine.jpg"
              loading="lazy"
              alt="Наказание карантином. Чем грозит Украине вторая волна борьбы с
                  коронавирусом"
              width="300"
              height="260"
            />
          </picture>
          <div class="c-card-category-small__content">
            <h3 class="c-card-category-small__title">
              <a class="c-card-category-small__link u-link" href="#">
                Наказание карантином. Чем грозит Украине вторая волна борьбы с
                коронавирусом</a
              >
            </h3>
            <time class="c-card-category-small__time">15:44</time>
          </div>
        </article>
      </li>
      <li class="c-grid-list__item">
        <article class="c-card-category-small">
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--bottom c-link-category"
            href="#"
            >Украина</a
          >
          <picture class="c-card-category-small__picture">
            <source
              srcset="
                @img/beautiful-country/1x/1x-skyscrapers.webp 1x,
                @img/beautiful-country/2x/2x-skyscrapers.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/beautiful-country/1x/1x-skyscrapers.jpg 1x,
                @img/beautiful-country/2x/2x-skyscrapers.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/beautiful-country/1x/1x-skyscrapers.jpg"
              loading="lazy"
              alt="Небоскребы советских времен. Три маршрута к памятникам советского модернизма в Киеве"
              width="300"
              height="260"
            />
          </picture>
          <div class="c-card-category-small__content">
            <h3 class="c-card-category-small__title">
              <a class="c-card-category-small__link u-link" href="#">
                Небоскребы советских времен. Три маршрута к памятникам
                советского модернизма в Киеве</a
              >
            </h3>
            <time class="c-card-category-small__time">15:44</time>
          </div>
        </article>
      </li>
      <li class="c-grid-list__item">
        <article
          class="c-card-category-small c-card-category-small--padding--lr15"
        >
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--top c-link-category c-link-category--lite"
            href="#"
            >Рейтинг</a
          >
          <picture
            class="c-card-category-small__picture c-card-category-small__picture--absolute"
          >
            <source
              srcset="
                @img/categories/1x/1x-from-song-words-not-throw-out.webp 1x,
                @img/categories/2x/2x-from-song-words-not-throw-out.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/categories/1x/1x-from-song-words-not-throw-out.jpg 1x,
                @img/categories/2x/2x-from-song-words-not-throw-out.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/categories/1x/1x-from-song-words-not-throw-out.jpg"
              loading="lazy"
              alt="Из песни слов не выкинешь. Рейтинг Фокуса: самые успешные звезды шоу-бизнеса"
              width="300"
              height="400"
            />
          </picture>
          <div
            class="c-card-category-small__content c-card-category-small__content--justify-content--end c-card-category-small__content--relative c-card-category-small__content--padding--lr15"
          >
            <span class="c-card-category-small__number">100</span>
            <h3 class="c-card-category-small__title">
              <a
                class="c-card-category-small__link c-card-category-small__link--lite u-link"
                href="#"
              >
                Из песни слов не выкинешь. Рейтинг Фокуса: самые успешные звезды
                шоу-бизнеса
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="c-grid-list__item">
        <article class="c-card-category-small">
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--bottom c-link-category"
            href="#"
            >Украина</a
          >
          <picture class="c-card-category-small__picture">
            <source
              srcset="
                @img/beautiful-country/1x/1x-how-hardened-steel.webp 1x,
                @img/beautiful-country/2x/2x-how-hardened-steel.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/beautiful-country/1x/1x-how-hardened-steel.jpg 1x,
                @img/beautiful-country/2x/2x-how-hardened-steel.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/beautiful-country/1x/1x-how-hardened-steel.jpg"
              loading="lazy"
              alt="Как закалилась сталь. Музей Островского в Шепетовке — памятник
                  архитектуры, а не идеологии"
              width="300"
              height="260"
            />
          </picture>
          <div class="c-card-category-small__content">
            <h3 class="c-card-category-small__title">
              <a class="c-card-category-small__link u-link" href="#">
                Как закалилась сталь. Музей Островского в Шепетовке — памятник
                архитектуры, а не идеологии</a
              >
            </h3>
            <time class="c-card-category-small__time">15:44</time>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
