<section>
  <div class="my-container">
    <h2>Категории</h2>
    <ul>
      <li>
        <article>
          <a href="#">Спорт</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/world/1x/1x-final-cup-ukraine.webp 1x,
                  @img/world/2x/2x-final-cup-ukraine.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/world/1x/1x-final-cup-ukraine.jpg 1x,
                  @img/world/2x/2x-final-cup-ukraine.jpg 2x
                "
              />
              <img
                src="@img/world/1x/1x-final-cup-ukraine.jpg"
                alt="Финал Кубка Украины по футболу перенесут из Львова в Харьков, –
            СМИ"
                width="300"
                height="148"
              />
            </picture>
          </div>
          <div>
            <h3>
              Финал Кубка Украины по футболу перенесут из Львова в Харьков, –
              СМИ
            </h3>
            <span>15:44</span>
          </div>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Коронавирус в Украине</a>
          <a href="#"></a>
          <div>
            <h3>
              Это винтажная атмосфера. MONATIK — о том, что такое карантин с
              оптимистической точки зрения
            </h3>
            <p>
              Коронавирус перевел всех в осадное положение. Пока концертные залы
              пусты, выступления проходят в режиме онлайн или не проходят
              вообще.
            </p>
            <span>14 июня 2020 о 16:51</span>
          </div>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Культура</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/technology/1x/1x-5-books.webp 1x,
                  @img/technology/2x/2x-5-books.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/technology/1x/1x-5-books.jpg 1x,
                  @img/technology/2x/2x-5-books.jpg 2x
                "
              />
              <img
                src="@img/technology/1x/1x-5-books.jpg"
                alt="Обзор Юрия Володарского: 5 книг для тех, кто предпочитает короткий метр в литературе"
                width="300"
                height="148"
              />
            </picture>
          </div>
          <div>
            <h3>
              Обзор Юрия Володарского: 5 книг для тех, кто предпочитает
              "короткий метр" в литературе
            </h3>
            <span>15:44</span>
          </div>
        </article>
      </li>
      <li>
        <article>
          <a href="#">
            <picture>
              <source
                srcset="
                  @img/world/1x/1x-tasty-and-beneficial.webp 1x,
                  @img/world/2x/2x-tasty-and-beneficial.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/world/1x/1x-tasty-and-beneficial.jpg 1x,
                  @img/world/2x/2x-tasty-and-beneficial.jpg 2x
                "
              />
              <img
                src="@img/world/1x/1x-tasty-and-beneficial.jpg"
                alt="ОККО. Смачно та вигідно"
                width="300"
                height="250"
              />
            </picture>
          </a>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Авто</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/world/1x/1x-nostalgic-inspired.webp 1x,
                  @img/world/2x/2x-nostalgic-inspired.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/world/1x/1x-nostalgic-inspired.jpg 1x,
                  @img/world/2x/2x-nostalgic-inspired.jpg 2x
                "
              />
              <img
                src="@img/world/1x/1x-nostalgic-inspired.jpg"
                alt="Вдохновленные ностальгией. 3 лимитированные серии автомобилей,
        посвященные славному прошлому"
                width="300"
                height="148"
              />
            </picture>
          </div>
          <div>
            <h3>
              Вдохновленные ностальгией. 3 лимитированные серии автомобилей,
              посвященные славному прошлому
            </h3>
            <span>15:44</span>
          </div>
        </article>
      </li>
      <li>
        <article>
          <a href="#">
            <picture>
              <source
                srcset="
                  @img/world/1x/1x-hot-dog.webp 1x,
                  @img/world/2x/2x-hot-dog.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/world/1x/1x-hot-dog.jpg 1x,
                  @img/world/2x/2x-hot-dog.jpg 2x
                "
              />
              <img
                src="@img/world/1x/1x-hot-dog.jpg"
                alt="Шоколадний Хот-дог"
                width="300"
                height="250"
              />
            </picture>
          </a>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Длинный фокус</a>
          <a href="#"> </a>
          <div>
            <picture>
              <source
                srcset="
                  @img/world/1x/1x-smart-house.webp 1x,
                  @img/world/2x/2x-smart-house.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/world/1x/1x-smart-house.jpg 1x,
                  @img/world/2x/2x-smart-house.jpg 2x
                "
              />
              <img
                src="@img/world/1x/1x-smart-house.jpg"
                alt="Когда ты дома: как «умный дом» LG приходит на выручку во времена
          турбулентности"
                width="300"
                height="292"
              />
            </picture>
          </div>
          <div>
            <h3>
              Когда ты дома: как «умный дом» LG приходит на выручку во времена
              турбулентности
            </h3>
            <span>15:44</span>
          </div>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Архивариус</a>
          <a href="#"></a>
          <div>
            <h3>
              Мосты всей жизни. В жизни Евгения Патона не было случайностей
            </h3>
            <p>
              Его называли человеком из будущего, гениальные идеи которого по
              сей день используются при изготовлении сверхпрочных сплавов для
              мостов, железных дорог и даже космических станций.
            </p>
            <span>15:44</span>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
