<section class="b-categories" id="categories">
  <div class="c-container">
    <h2 class="u-visually-hidden">Категории</h2>
    <ul class="c-grid-list">
      <li class="c-grid-list__item">
        <article class="c-card-category-small">
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--bottom c-link-category"
            href="#"
            >Украина</a
          >
          <picture class="c-card-category-small__picture">
            <source
              srcset="
                @img/categories/1x/1x-punishment-quarantine.webp 1x,
                @img/categories/2x/2x-punishment-quarantine.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/categories/1x/1x-punishment-quarantine.jpg 1x,
                @img/categories/2x/2x-punishment-quarantine.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/categories/1x/1x-punishment-quarantine.jpg"
              loading="lazy"
              alt="Наказание карантином. Чем грозит Украине вторая волна борьбы с коронавирусом"
              width="300"
              height="260"
            />
          </picture>
          <div class="c-card-category-small__content">
            <h3 class="c-card-category-small__title">
              <a class="c-card-category-small__link u-link" href="#">
                Наказание карантином. Чем грозит Украине вторая волна борьбы с
                коронавирусом</a
              >
            </h3>
            <time class="c-card-category-small__time">15:44</time>
          </div>
        </article>
      </li>
      <li class="c-grid-list__item">
        <article class="c-card-category-small">
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--bottom c-link-category"
            href="#"
            >Технологии и наука</a
          >
          <picture class="c-card-category-small__picture">
            <source
              srcset="
                @img/categories/1x/1x-charmed-bond.webp 1x,
                @img/categories/2x/2x-charmed-bond.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/categories/1x/1x-charmed-bond.jpg 1x,
                @img/categories/2x/2x-charmed-bond.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/categories/1x/1x-charmed-bond.jpg"
              loading="lazy"
              alt="Заговоренная связь. Все, что известно о 5G и его влиянии на здоровье"
              width="300"
              height="260"
            />
          </picture>
          <div class="c-card-category-small__content">
            <h3 class="c-card-category-small__title">
              <a class="c-card-category-small__link u-link" href="#">
                Заговоренная связь. Все, что известно о 5G и его влиянии на
                здоровье</a
              >
            </h3>
            <time class="c-card-category-small__time">15:44</time>
          </div>
        </article>
      </li>
      <li class="c-grid-list__item">
        <article class="c-card-category-small">
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--top c-link-category c-link-category--lite"
            href="#"
            >Рейтинг</a
          >
          <picture
            class="c-card-category-small__picture c-card-category-small__picture--absolute"
          >
            <source
              srcset="
                @img/categories/1x/1x-from-song-words-not-throw-out.webp 1x,
                @img/categories/2x/2x-from-song-words-not-throw-out.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/categories/1x/1x-from-song-words-not-throw-out.jpg 1x,
                @img/categories/2x/2x-from-song-words-not-throw-out.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/categories/1x/1x-from-song-words-not-throw-out.jpg"
              loading="lazy"
              alt="Из песни слов не выкинешь. Рейтинг Фокуса: самые успешные звезды шоу-бизнеса"
              width="300"
              height="400"
            />
          </picture>
          <div
            class="c-card-category-small__content c-card-category-small__content--justify-content--end c-card-category-small__content--relative c-card-category-small__content--padding--lr15"
          >
            <span class="c-card-category-small__number">100</span>
            <h3 class="c-card-category-small__title">
              <a
                class="c-card-category-small__link c-card-category-small__link--lite u-link"
                href="#"
              >
                Из песни слов не выкинешь. Рейтинг Фокуса: самые успешные звезды
                шоу-бизнеса</a
              >
            </h3>
          </div>
        </article>
      </li>
      <li class="c-grid-list__item">
        <article class="c-card-category-small">
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--bottom c-link-category"
            href="#"
            >Политика</a
          >
          <picture class="c-card-category-small__picture">
            <source
              srcset="
                @img/categories/1x/1x-oaks-and-pines.webp 1x,
                @img/categories/2x/2x-oaks-and-pines.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/categories/1x/1x-oaks-and-pines.jpg 1x,
                @img/categories/2x/2x-oaks-and-pines.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/categories/1x/1x-oaks-and-pines.jpg"
              loading="lazy"
              alt="Дубы и
                сосны. В соцсетях обсуждают сексистский скандал в Слуге
                народа"
              width="300"
              height="260"
            />
          </picture>
          <div class="c-card-category-small__content">
            <h3 class="c-card-category-small__title">
              <a class="c-card-category-small__link u-link" href="#">
                Дубы и сосны. В соцсетях обсуждают сексистский скандал в "Слуге
                народа"</a
              >
            </h3>
            <time class="c-card-category-small__time">15:44</time>
          </div>
        </article>
      </li>
      <li class="c-grid-list__item c-grid-list__item--height--292">
        <article class="c-card-category-small">
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--top c-link-category c-link-category--lite"
            href="#"
            >Технологии и наука</a
          >
          <picture
            class="c-card-category-small__picture c-card-category-small__picture--absolute"
          >
            <source
              srcset="
                @img/categories/1x/1x-conspiracy.webp 1x,
                @img/categories/2x/2x-conspiracy.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/categories/1x/1x-conspiracy.jpg 1x,
                @img/categories/2x/2x-conspiracy.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/categories/1x/1x-conspiracy.jpg"
              loading="lazy"
              alt="Заговоренная связь. Все, что известно о 5G и его влиянии на
                  здоровье"
              width="300"
              height="292"
            />
          </picture>
          <div
            class="c-card-category-small__content c-card-category-small__content--justify-content--end c-card-category-small__content--relative c-card-category-small__content--padding--lr15"
          >
            <h3 class="c-card-category-small__title">
              <a
                class="c-card-category-small__link c-card-category-small__link--lite u-link"
                href="#"
              >
                Заговоренная связь. Все, что известно о 5G и его влиянии на
                здоровье</a
              >
            </h3>
            <time
              class="c-card-category-small__time c-card-category-small__time--lite"
              >15:44</time
            >
          </div>
        </article>
      </li>
      <li class="c-grid-list__item c-grid-list__item--height--292">
        <article class="c-card-category-small">
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--bottom c-link-category"
            href="#"
            >Политика</a
          >
          <picture class="c-card-category-small__picture">
            <source
              srcset="
                @img/categories/1x/1x-sergey-shkarlet.webp 1x,
                @img/categories/2x/2x-sergey-shkarlet.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/categories/1x/1x-sergey-shkarlet.jpg 1x,
                @img/categories/2x/2x-sergey-shkarlet.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/categories/1x/1x-sergey-shkarlet.jpg"
              loading="lazy"
              alt="Кабмин назначил главой МОН Сергея Шкарлета в обход Рады"
              width="300"
              height="152"
            />
          </picture>
          <div class="c-card-category-small__content">
            <h3 class="c-card-category-small__title">
              <a class="c-card-category-small__link u-link" href="#"
                >Кабмин назначил главой МОН Сергея Шкарлета в обход Рады</a
              >
            </h3>
            <time class="c-card-category-small__time">15:44</time>
          </div>
        </article>
      </li>
      <li class="c-grid-list__item c-grid-list__item--height--292">
        <article class="c-card-category-small">
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--bottom c-link-category"
            href="#"
            >Технологии и наука</a
          >
          <picture class="c-card-category-small__picture">
            <source
              srcset="
                @img/categories/1x/1x-denis-maluska.webp 1x,
                @img/categories/2x/2x-denis-maluska.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/categories/1x/1x-denis-maluska.jpg 1x,
                @img/categories/2x/2x-denis-maluska.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/categories/1x/1x-denis-maluska.jpg"
              loading="lazy"
              alt="Агент изменений. Денис Малюська — о частных СИЗО, продаже тюрем и
                  будущем люстрации"
              width="300"
              height="152"
            />
          </picture>
          <div class="c-card-category-small__content">
            <h3 class="c-card-category-small__title">
              <a class="c-card-category-small__link u-link" href="#"
                >Агент изменений. Денис Малюська — о частных СИЗО, продаже тюрем
                и будущем люстрации</a
              >
            </h3>
            <time class="c-card-category-small__time">15:44</time>
          </div>
        </article>
      </li>
      <li class="c-grid-list__item c-grid-list__item--height--292">
        <article class="c-card-category-small">
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--top c-link-category c-link-category--lite"
            href="#"
            >Политика</a
          >
          <picture
            class="c-card-category-small__picture c-card-category-small__picture--absolute"
          >
            <source
              srcset="
                @img/categories/1x/1x-exit-to-people.webp 1x,
                @img/categories/2x/2x-exit-to-people.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/categories/1x/1x-exit-to-people.jpg 1x,
                @img/categories/2x/2x-exit-to-people.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/categories/1x/1x-exit-to-people.jpg"
              loading="lazy"
              alt="Выход в люди. Как Шарий диктует информационную повестку дня в Украине"
              width="300"
              height="292"
            />
          </picture>
          <div
            class="c-card-category-small__content c-card-category-small__content--justify-content--end c-card-category-small__content--relative c-card-category-small__content--padding--lr15"
          >
            <h3 class="c-card-category-small__title">
              <a
                class="c-card-category-small__link c-card-category-small__link--lite u-link"
                href="#"
                >Выход в люди. Как Шарий диктует информационную повестку дня в
                Украине</a
              >
            </h3>
            <time
              class="c-card-category-small__time c-card-category-small__time--lite"
              >15:44</time
            >
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
