<section class="b-categories">
  <div class="c-container">
    <h2 class="u-visually-hidden">Категории</h2>
    <ul class="c-grid-list">
      <li class="c-grid-list__item c-grid-list__item--gc--2tracks">
        <article class="c-card-news">
          <picture class="c-card-news__picture">
            <source
              srcset="
                @img/categories/1x/1x-mid-noughties.webp 1x,
                @img/categories/2x/2x-mid-noughties.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                @img/categories/1x/1x-mid-noughties.png 1x,
                @img/categories/2x/2x-mid-noughties.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                @img/categories/1x/1x-mid-noughties-small.webp 1x,
                @img/categories/2x/2x-mid-noughties-small.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                @img/categories/1x/1x-mid-noughties-small.png 1x,
                @img/categories/2x/2x-mid-noughties-small.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="c-card-news__img"
              src="@img/categories/1x/1x-mid-noughties.jpg"
              loading="lazy"
              alt="Как Юлия Тимошенко меня в Египет отправила"
              width="430"
              height="400"
            />
          </picture>
          <div class="c-card-news__content-wrapper">
            <div class="c-card-news__content-background"></div>
            <div class="c-card-news__content">
              <h3 class="c-card-news__title">
                <a class="c-card-news__link u-link" href="#">
                  Как Юлия Тимошенко меня в Египет отправила</a
                >
              </h3>
              <p class="c-card-news__text">
                В середине нулевых Киев переживал немыслимый ипотечный бум.
                Банки выдавали кредиты на десять и двадцать лет.
              </p>
            </div>
          </div>
          <div class="c-card-news__author">
            <a class="c-card-news__author-link" href="#">
              Алексей Газубей
              <span class="c-card-news__author-editor"
                >Главний редактор focus.ua</span
              >
            </a>
          </div>
        </article>
      </li>
      <li class="c-grid-list__item">
        <article class="c-card-category-small">
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--bottom c-link-category"
            href="#"
            >Технологии и наука</a
          >
          <picture class="c-card-category-small__picture">
            <source
              srcset="
                @img/categories/1x/1x-happiness-in-16-seconds.webp 1x,
                @img/categories/2x/2x-happiness-in-16-seconds.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/categories/1x/1x-happiness-in-16-seconds.jpg 1x,
                @img/categories/2x/2x-happiness-in-16-seconds.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/categories/1x/1x-happiness-in-16-seconds.jpg"
              loading="lazy"
              alt="Счастье за 16 секунд. В чем секрет популярности TikTok и как соцсеть влияет на психику подростков"
              width="300"
              height="260"
            />
          </picture>
          <div class="c-card-category-small__content">
            <h3 class="c-card-category-small__title">
              <a class="c-card-category-small__link u-link" href="#">
                Счастье за 16 секунд. В чем секрет популярности TikTok и как
                соцсеть влияет на психику подростков</a
              >
            </h3>
            <time class="c-card-category-small__time">15:44</time>
          </div>
        </article>
      </li>
      <li class="c-grid-list__item">
        <article class="c-card-opinion">
          <a class="c-card-opinion__link-category" href="#">Мнение</a>
          <div class="c-card-opinion__icon-wrapper">
            <svg class="c-card-opinion__icon" width="12" height="20">
              <use href="@img/icons/icons.svg#vector"></use>
            </svg>
            <svg class="c-card-opinion__icon" width="12" height="20">
              <use href="@img/icons/icons.svg#vector"></use>
            </svg>
          </div>
          <h3 class="c-card-opinion__title">
            <a class="c-card-opinion__link u-link" href="#">
              “Too much против me too. Почему сексистские скандалы в Украине
              ничем не заканчиваются”</a
            >
          </h3>
          <a class="c-card-opinion__author-link" href="#">
            <picture class="c-card-opinion__author-picture">
              <source
                srcset="
                  @img/categories/1x/1x-maria-babenko.webp 1x,
                  @img/categories/2x/2x-maria-babenko.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/categories/1x/1x-maria-babenko.jpg 1x,
                  @img/categories/2x/2x-maria-babenko.jpg 2x
                "
              />
              <img
                class="c-card-opinion__author-img"
                src="@img/categories/1x/1x-maria-babenko.jpg"
                loading="lazy"
                alt="Мария Бабенко"
                width="32"
                height="32"
              />
            </picture>
            <span class="c-card-opinion__author-name"> Мария Бабенко</span>
          </a>
        </article>
      </li>
      <li class="c-grid-list__item c-grid-list__item--h--292">
        <article class="c-card-category-small">
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--bottom c-link-category"
            href="#"
            >Технологии и наука</a
          >
          <picture class="c-card-category-small__picture">
            <source
              srcset="
                @img/categories/1x/1x-new-oil.webp 1x,
                @img/categories/2x/2x-new-oil.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/categories/1x/1x-new-oil.jpg 1x,
                @img/categories/2x/2x-new-oil.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/categories/1x/1x-new-oil.jpg"
              loading="lazy"
              alt="Новая нефть. Как ученые ищут редкие элементы на дне океана, в космосе и мусоре"
              width="300"
              height="152"
            />
          </picture>
          <div class="c-card-category-small__content">
            <h3 class="c-card-category-small__title">
              <a class="c-card-category-small__link u-link" href="#">
                Новая нефть. Как ученые ищут редкие элементы на дне океана, в
                космосе и мусоре</a
              >
            </h3>
            <time class="c-card-category-small__time">15:44</time>
          </div>
        </article>
      </li>
      <li class="c-grid-list__item c-grid-list__item--h--292">
        <article class="c-card-category-small c-card-category-small--bgc--lite">
          <a
            class="c-card-category-small__category c-card-category-small__category--as--start c-link-category"
            href="#"
            >Технологии и наука</a
          >
          <div class="c-card-category-small__content">
            <h3 class="c-card-category-small__title">
              <a class="c-card-category-small__link u-link" href="#">
                Все в масках и проверка температуры: в Украине стартовала
                основная сессия ВНО-2020
              </a>
            </h3>
            <p class="c-card-category-small__text">
              Первый тест – по математике. Для его прохождения
              зарегистрировались 186 072 человека.
            </p>
            <time class="c-card-category-small__time">15:44</time>
          </div>
        </article>
      </li>
      <li class="c-grid-list__item c-grid-list__item--h--250">
        <article class="c-card-advertising-small">
          <h3 class="u-visually-hidden">Заморозка собственного производства</h3>
          <a class="c-card-advertising-small__link" href="#">
            <picture class="c-card-advertising-small__picture">
              <source
                srcset="
                  @img/categories/1x/1x-freezing.webp 1x,
                  @img/categories/2x/2x-freezing.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/categories/1x/1x-freezing.jpg 1x,
                  @img/categories/2x/2x-freezing.jpg 2x
                "
              />
              <img
                class="c-card-advertising-small__img"
                src="@img/categories/1x/1x-freezing.jpg"
                loading="lazy"
                alt="Заморозка собственного производства"
                width="300"
                height="250"
              />
            </picture>
          </a>
        </article>
      </li>
      <li class="c-grid-list__item c-grid-list__item--h--292">
        <article class="c-card-category-small">
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--bottom c-link-category"
            href="#"
            >Культура</a
          >
          <picture class="c-card-category-small__picture">
            <source
              srcset="
                @img/categories/1x/1x-5-books.webp 1x,
                @img/categories/2x/2x-5-books.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/categories/1x/1x-5-books.jpg 1x,
                @img/categories/2x/2x-5-books.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/categories/1x/1x-5-books.jpg"
              loading="lazy"
              alt="Обзор Юрия Володарского: 5 книг для тех, кто предпочитает короткий метр в литературе"
              width="300"
              height="152"
            />
          </picture>
          <div class="c-card-category-small__content">
            <h3 class="c-card-category-small__title">
              <a class="c-card-category-small__link u-link" href="#">
                Обзор Юрия Володарского: 5 книг для тех, кто предпочитает
                "короткий метр" в литературе</a
              >
            </h3>
            <time class="c-card-category-small__time">15:44</time>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
