<section>
  <div class="my-container">
    <h2>Категории</h2>
    <ul>
      <li>
        <article>
          <a href="#"></a>
          <div></div>
          <div></div>
          <div>
            <picture>
              <source
                srcset="
                  @img/technology/1x/1x-mid-noughties.webp 1x,
                  @img/technology/2x/2x-mid-noughties.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/technology/1x/1x-mid-noughties.jpg 1x,
                  @img/technology/2x/2x-mid-noughties.jpg 2x
                "
              />
              <img
                src="@img/technology/1x/1x-mid-noughties.jpg"
                alt="Как Юлия Тимошенко меня в Египет отправила"
                width="430"
                height="400"
              />
            </picture>
          </div>
          <div>
            <h3>Как Юлия Тимошенко меня в Египет отправила</h3>
            <p>
              В середине нулевых Киев переживал немыслимый ипотечный бум. Банки
              выдавали кредиты на десять и двадцать лет.
            </p>
          </div>
          <a href="#">
            <span>Алексей Газубей</span>
            <span>Главний редактор focus.ua</span>
          </a>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Технологии и наука</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/technology/1x/1x-happiness-in-16-seconds.webp 1x,
                  @img/technology/2x/2x-happiness-in-16-seconds.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/technology/1x/1x-happiness-in-16-seconds.jpg 1x,
                  @img/technology/2x/2x-happiness-in-16-seconds.jpg 2x
                "
              />
              <img
                src="@img/technology/1x/1x-happiness-in-16-seconds.jpg"
                alt="Счастье за 16 секунд. В чем секрет популярности TikTok и как соцсеть влияет на психику подростков"
                width="300"
                height="260"
              />
            </picture>
          </div>
          <div>
            <h3>
              Счастье за 16 секунд. В чем секрет популярности TikTok и как
              соцсеть влияет на психику подростков
            </h3>
            <span>15:44</span>
          </div>
        </article>
      </li>
      <li>
        <article>
          <a href="#"></a>
          <div>
            <p>Мнение</p>
            <svg width="12" height="20">
              <use href="@img/icons/icons.svg#vector"></use>
            </svg>
            <svg width="12" height="20">
              <use href="@img/icons/icons.svg#vector"></use>
            </svg>
            <h3>
              “Too much против me too. Почему сексистские скандалы в Украине
              ничем не заканчиваются”
            </h3>
          </div>
          <a href="#">
            <picture>
              <source
                srcset="
                  @img/technology/1x/1x-maria-babenko.webp 1x,
                  @img/technology/2x/2x-maria-babenko.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/technology/1x/1x-maria-babenko.jpg 1x,
                  @img/technology/2x/2x-maria-babenko.jpg 2x
                "
              />
              <img
                src="@img/technology/1x/1x-maria-babenko.jpg"
                alt="Мария Бабенко"
                width="32"
                height="32"
              />
            </picture>
            Мария Бабенко
          </a>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Технологии и наука</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/technology/1x/1x-new-oil.webp 1x,
                  @img/technology/2x/2x-new-oil.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/technology/1x/1x-new-oil.jpg 1x,
                  @img/technology/2x/2x-new-oil.jpg 2x
                "
              />
              <img
                src="@img/technology/1x/1x-new-oil.jpg"
                alt="Новая нефть. Как ученые ищут редкие элементы на дне океана, в космосе и мусоре"
                width="300"
                height="148"
              />
            </picture>
          </div>
          <div>
            <h3>
              Новая нефть. Как ученые ищут редкие элементы на дне океана, в
              космосе и мусоре
            </h3>
            <span>15:44</span>
          </div>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Технологии и наука</a>
          <a href="#"></a>
          <div>
            <h3>
              Все в масках и проверка температуры: в Украине стартовала основная
              сессия ВНО-2020
            </h3>
            <p>
              Первый тест – по математике. Для его прохождения
              зарегистрировались 186 072 человека.
            </p>
            <span>15:44</span>
          </div>
        </article>
      </li>
      <li>
        <article>
          <a href="#">
            <picture>
              <source
                srcset="
                  @img/technology/1x/1x-freezing.webp 1x,
                  @img/technology/2x/2x-freezing.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/technology/1x/1x-freezing.jpg 1x,
                  @img/technology/2x/2x-freezing.jpg 2x
                "
              />
              <img
                src="@img/technology/1x/1x-freezing.jpg"
                alt="Заморозка власного виробництва"
                width="300"
                height="250"
              />
            </picture>
          </a>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Культура</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/technology/1x/1x-5-books.webp 1x,
                  @img/technology/2x/2x-5-books.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/technology/1x/1x-5-books.jpg 1x,
                  @img/technology/2x/2x-5-books.jpg 2x
                "
              />
              <img
                src="@img/technology/1x/1x-5-books.jpg"
                alt="Обзор Юрия Володарского: 5 книг для тех, кто предпочитает короткий метр в литературе"
                width="300"
                height="148"
              />
            </picture>
          </div>
          <div>
            <h3>
              Обзор Юрия Володарского: 5 книг для тех, кто предпочитает
              "короткий метр" в литературе
            </h3>
            <span>15:44</span>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
