<section class="categories-3">
  <div class="my-container">
    <h2 class="u-visually-hidden">Категории</h2>
    <ul class="categories-3__list">
      <li class="categories-3__item">
        <article class="c-card-4">
          <a href="#" class="c-card-4__link-category">Спорт</a>
          <a href="#" class="c-card-4__link"></a>
          <div class="c-card-4__img-wrapper">
            <picture>
              <source
                srcset="
                  @img/categories/1x/1x-final-cup-ukraine.webp 1x,
                  @img/categories/2x/2x-final-cup-ukraine.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/categories/1x/1x-final-cup-ukraine.jpg 1x,
                  @img/categories/2x/2x-final-cup-ukraine.jpg 2x
                "
              />
              <img
                class="c-card-4__img"
                src="@img/categories/1x/1x-final-cup-ukraine.jpg"
                alt="Финал Кубка Украины по футболу перенесут из Львова в Харьков, –
            СМИ"
                width="300"
                height="148"
              />
            </picture>
          </div>
          <div class="c-card-4__content">
            <h3 class="c-card-4__title">
              Финал Кубка Украины по футболу перенесут из Львова в Харьков, –
              СМИ
            </h3>
            <span class="c-card-4__time">15:44</span>
          </div>
        </article>
      </li>
      <li class="categories-3__item">
        <article class="c-card-5">
          <a href="#" class="c-card-5__link-category">Коронавирус в Украине</a>
          <a href="#" class="c-card-5__link"></a>
          <div class="c-card-5__content">
            <h3 class="c-card-5__title">
              Это винтажная атмосфера. MONATIK — о том, что такое карантин с
              оптимистической точки зрения
            </h3>
            <p class="c-card-5__text">
              Коронавирус перевел всех в осадное положение. Пока концертные залы
              пусты, выступления проходят в режиме онлайн или не проходят
              вообще.
            </p>
            <span class="c-card-5__time">14 июня 2020 о 16:51</span>
          </div>
        </article>
      </li>
      <li class="categories-3__item">
        <article class="c-card-4">
          <a href="#" class="c-card-4__link-category">Культура</a>
          <a href="#" class="c-card-4__link"></a>
          <div class="c-card-4__img-wrapper">
            <picture>
              <source
                srcset="
                  @img/categories/1x/1x-5-books.webp 1x,
                  @img/categories/2x/2x-5-books.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/categories/1x/1x-5-books.jpg 1x,
                  @img/categories/2x/2x-5-books.jpg 2x
                "
              />
              <img
                class="c-card-4__img"
                src="@img/categories/1x/1x-5-books.jpg"
                alt="Обзор Юрия Володарского: 5 книг для тех, кто предпочитает короткий метр в литературе"
                width="300"
                height="148"
              />
            </picture>
          </div>
          <div class="c-card-4__content">
            <h3 class="c-card-4__title">
              Обзор Юрия Володарского: 5 книг для тех, кто предпочитает
              "короткий метр" в литературе
            </h3>
            <span class="c-card-4__time">15:44</span>
          </div>
        </article>
      </li>
      <li class="categories-3__item">
        <article>
          <a href="#">
            <picture>
              <source
                srcset="
                  @img/categories/1x/1x-tasty-and-beneficial.webp 1x,
                  @img/categories/2x/2x-tasty-and-beneficial.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/categories/1x/1x-tasty-and-beneficial.jpg 1x,
                  @img/categories/2x/2x-tasty-and-beneficial.jpg 2x
                "
              />
              <img
                src="@img/categories/1x/1x-tasty-and-beneficial.jpg"
                alt="ОККО. Смачно та вигідно"
                width="300"
                height="250"
              />
            </picture>
          </a>
        </article>
      </li>
      <li class="categories-3__item">
        <article class="c-card-4">
          <a href="#" class="c-card-4__link-category">Авто</a>
          <a href="#" class="c-card-4__link"></a>
          <div class="c-card-4__img-wrapper">
            <picture>
              <source
                srcset="
                  @img/categories/1x/1x-nostalgic-inspired.webp 1x,
                  @img/categories/2x/2x-nostalgic-inspired.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/categories/1x/1x-nostalgic-inspired.jpg 1x,
                  @img/categories/2x/2x-nostalgic-inspired.jpg 2x
                "
              />
              <img
                class="c-card-4__img"
                src="@img/categories/1x/1x-nostalgic-inspired.jpg"
                alt="Вдохновленные ностальгией. 3 лимитированные серии автомобилей,
        посвященные славному прошлому"
                width="300"
                height="148"
              />
            </picture>
          </div>
          <div class="c-card-4__content">
            <h3 class="c-card-4__title">
              Вдохновленные ностальгией. 3 лимитированные серии автомобилей,
              посвященные славному прошлому
            </h3>
            <span class="c-card-4__time">15:44</span>
          </div>
        </article>
      </li>
      <li class="categories-3__item">
        <article>
          <a href="#">
            <picture>
              <source
                srcset="
                  @img/categories/1x/1x-hot-dog.webp 1x,
                  @img/categories/2x/2x-hot-dog.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/categories/1x/1x-hot-dog.jpg 1x,
                  @img/categories/2x/2x-hot-dog.jpg 2x
                "
              />
              <img
                src="@img/categories/1x/1x-hot-dog.jpg"
                alt="Шоколадний Хот-дог"
                width="300"
                height="250"
              />
            </picture>
          </a>
        </article>
      </li>
      <li class="categories-3__item">
        <article class="c-card-3">
          <a href="#" class="c-card-3__link-category">Длинный фокус</a>
          <a href="#" class="c-card-3__link"> </a>
          <div class="c-card-3__img-wrapper">
            <picture>
              <source
                srcset="
                  @img/categories/1x/1x-smart-house.webp 1x,
                  @img/categories/2x/2x-smart-house.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/categories/1x/1x-smart-house.jpg 1x,
                  @img/categories/2x/2x-smart-house.jpg 2x
                "
              />
              <img
                class="c-card-3__img"
                src="@img/categories/1x/1x-smart-house.jpg"
                alt="Когда ты дома: как «умный дом» LG приходит на выручку во времена
          турбулентности"
                width="300"
                height="292"
              />
            </picture>
          </div>
          <div class="c-card-3__content">
            <h3 class="c-card-3__title">
              Когда ты дома: как «умный дом» LG приходит на выручку во времена
              турбулентности
            </h3>
            <span class="c-card-3__time">15:44</span>
          </div>
        </article>
      </li>
      <li class="categories-3__item">
        <article class="c-card-5">
          <a href="#" class="c-card-5__link-category">Архивариус</a>
          <a href="#" class="c-card-5__link"></a>
          <div class="c-card-5__content">
            <h3 class="c-card-5__title">
              Мосты всей жизни. В жизни Евгения Патона не было случайностей
            </h3>
            <p class="c-card-5__text">
              Его называли человеком из будущего, гениальные идеи которого по
              сей день используются при изготовлении сверхпрочных сплавов для
              мостов, железных дорог и даже космических станций.
            </p>
            <span class="c-card-5__time">15:44</span>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
