<section id="categories">
  <div class="my-container">
    <h2>Категории</h2>
    <ul>
      <li>
        <article>
          <a href="#">Украина</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/categories/1x/1x-punishment-quarantine.webp 1x,
                  @img/categories/2x/2x-punishment-quarantine.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/categories/1x/1x-punishment-quarantine.jpg 1x,
                  @img/categories/2x/2x-punishment-quarantine.jpg 2x
                "
              />
              <img
                src="@img/categories/1x/1x-punishment-quarantine.jpg"
                alt="Наказание карантином. Чем грозит Украине вторая волна борьбы с коронавирусом"
                width="300"
                height="260"
              />
            </picture>
          </div>
          <div>
            <h3>
              Наказание карантином. Чем грозит Украине вторая волна борьбы с
              коронавирусом
            </h3>
            <span>15:44</span>
          </div>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Технологии и наука</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/categories/1x/1x-charmed-bond.webp 1x,
                  @img/categories/2x/2x-charmed-bond.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/categories/1x/1x-charmed-bond.jpg 1x,
                  @img/categories/2x/2x-charmed-bond.jpg 2x
                "
              />
              <img
                src="@img/categories/1x/1x-charmed-bond.jpg"
                alt="conspiracyенная связь. Все, что известно о 5G и его влиянии на здоровье"
                width="300"
                height="260"
              />
            </picture>
          </div>
          <div>
            <h3>
              conspiracyенная связь. Все, что известно о 5G и его влиянии на
              здоровье
            </h3>
            <span>15:44</span>
          </div>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Рейтинг</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/categories/1x/1x-from-song-words-not-throw-out.webp 1x,
                  @img/categories/2x/2x-from-song-words-not-throw-out.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/categories/1x/1x-from-song-words-not-throw-out.jpg 1x,
                  @img/categories/2x/2x-from-song-words-not-throw-out.jpg 2x
                "
              />
              <img
                src="@img/categories/1x/1x-from-song-words-not-throw-out.jpg"
                alt="Из песни слов не выкинешь. Рейтинг Фокуса: самые успешные звезды шоу-бизнеса"
                width="300"
                height="400"
              />
            </picture>
          </div>
          <div>
            <span>100</span>
            <h3>
              Из песни слов не выкинешь. Рейтинг Фокуса: самые успешные звезды
              шоу-бизнеса
            </h3>
          </div>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Политика</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/categories/1x/1x-oaks-and-pines.webp 1x,
                  @img/categories/2x/2x-oaks-and-pines.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/categories/1x/1x-oaks-and-pines.jpg 1x,
                  @img/categories/2x/2x-oaks-and-pines.jpg 2x
                "
              />
              <img
                src="@img/categories/1x/1x-oaks-and-pines.jpg"
                alt="Дубы и
                сосны. В соцсетях обсуждают сексистский скандал в Слуге
                народа"
                width="300"
                height="260"
              />
            </picture>
          </div>
          <div>
            <h3>
              Дубы и сосны. В соцсетях обсуждают сексистский скандал в "Слуге
              народа"
            </h3>
            <span>15:44</span>
          </div>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Технологии и наука</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/categories/1x/1x-conspiracy.webp 1x,
                  @img/categories/2x/2x-conspiracy.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/categories/1x/1x-conspiracy.jpg 1x,
                  @img/categories/2x/2x-conspiracy.jpg 2x
                "
              />
              <img
                src="@img/categories/1x/1x-conspiracy.jpg"
                alt="conspiracyенная связь. Все, что известно о 5G и его влиянии на
                  здоровье"
                width="300"
                height="292"
              />
            </picture>
          </div>
          <div>
            <h3>
              conspiracyенная связь. Все, что известно о 5G и его влиянии на
              здоровье
            </h3>
            <span>15:44</span>
          </div>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Политика</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/categories/1x/1x-sergey-shkarlet.webp 1x,
                  @img/categories/2x/2x-sergey-shkarlet.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/categories/1x/1x-sergey-shkarlet.jpg 1x,
                  @img/categories/2x/2x-sergey-shkarlet.jpg 2x
                "
              />
              <img
                src="@img/categories/1x/1x-sergey-shkarlet.jpg"
                alt="Кабмин назначил главой МОН Сергея Шкарлета в обход Рады"
                width="300"
                height="148"
              />
            </picture>
          </div>
          <div>
            <h3>Кабмин назначил главой МОН Сергея Шкарлета в обход Рады</h3>
            <span>15:44</span>
          </div>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Технологии и наука</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/categories/1x/1x-denis-little.webp 1x,
                  @img/categories/2x/2x-denis-little.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/categories/1x/1x-denis-little.jpg 1x,
                  @img/categories/2x/2x-denis-little.jpg 2x
                "
              />
              <img
                src="@img/categories/1x/1x-denis-little.jpg"
                alt="Агент изменений. Денис Малюська — о частных СИЗО, продаже тюрем и
                  будущем люстрации"
                width="300"
                height="148"
              />
            </picture>
          </div>
          <div>
            <h3>
              Агент изменений. Денис Малюська — о частных СИЗО, продаже тюрем и
              будущем люстрации
            </h3>
            <span>15:44</span>
          </div>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Политика</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/categories/1x/1x-exit-to-people.webp 1x,
                  @img/categories/2x/2x-exit-to-people.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/categories/1x/1x-exit-to-people.jpg 1x,
                  @img/categories/2x/2x-exit-to-people.jpg 2x
                "
              />
              <img
                src="@img/categories/1x/1x-exit-to-people.jpg"
                alt="Выход в люди. Как Шарий диктует информационную повестку дня в Украине"
                width="300"
                height="292"
              />
            </picture>
          </div>
          <div>
            <h3>
              Выход в люди. Как Шарий диктует информационную повестку дня в
              Украине
            </h3>
            <span>15:44</span>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
