<footer class="b-footer">
  <div class="b-footer__container c-container">
    <a class="b-footer__logo" href="#">
      <picture class="b-footer__picture">
        <source
          srcset="
            @img/logo/1x/1x-logo-footer.webp 1x,
            @img/logo/2x/2x-logo-footer.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            @img/logo/1x/1x-logo-footer.png 1x,
            @img/logo/2x/2x-logo-footer.png 2x
          "
        />
        <img
          class="b-footer__img"
          src="@img/logo/1x/1x-logo-footer.png"
          loading="lazy"
          alt="Логотип"
          width="184"
          height="40"
        /> </picture
    ></a>
    <div class="b-footer__head">
      <ul class="b-footer__menu">
        <li class="b-footer__item">
          <a class="b-footer__link" href="#">Политика</a>
        </li>
        <li class="b-footer__item">
          <a class="b-footer__link" href="#">Украина</a>
        </li>
        <li class="b-footer__item">
          <a class="b-footer__link" href="#">Экономика</a>
        </li>
        <li class="b-footer__item">
          <a class="b-footer__link" href="#">Культура</a>
        </li>
        <li class="b-footer__item">
          <a class="b-footer__link" href="#">Мнение</a>
        </li>
        <li class="b-footer__item">
          <a class="b-footer__link" href="#">Рейтинги</a>
        </li>
        <li class="b-footer__item">
          <a class="b-footer__link" href="#">Длинный фокус</a>
        </li>
        <li class="b-footer__item">
          <a class="b-footer__link" href="#">Мир</a>
        </li>
      </ul>
      <div class="b-footer__subscription-wrapper">
        <ul class="b-footer__focus-list">
          <li class="b-footer__focus-item">
            <article class="c-focus-card">
              <h3 class="u-visually-hidden">Фокус</h3>
              <a class="c-focus-card__link" href="#">
                <picture class="c-focus-card__picture">
                  <source
                    srcset="
                      @img/footer/1x/1x-focus-6.webp 1x,
                      @img/footer/2x/2x-focus-6.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    srcset="
                      @img/footer/1x/1x-focus-6.jpg 1x,
                      @img/footer/2x/2x-focus-6.jpg 2x
                    "
                  />
                  <img
                    class="c-focus-card__img"
                    src="@img/footer/1x/1x-focus-6.jpg"
                    loading="lazy"
                    alt="Фокус"
                    width="85"
                    height="111"
                  />
                </picture>
              </a>
            </article>
          </li>
          <li class="b-footer__focus-item">
            <article class="c-focus-card">
              <h3 class="u-visually-hidden">Фокус</h3>
              <a class="c-focus-card__link" href="#">
                <picture class="c-focus-card__picture">
                  <source
                    srcset="
                      @img/footer/1x/1x-focus-7.webp 1x,
                      @img/footer/2x/2x-focus-7.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    srcset="
                      @img/footer/1x/1x-focus-7.jpg 1x,
                      @img/footer/2x/2x-focus-7.jpg 2x
                    "
                  />
                  <img
                    class="c-focus-card__img"
                    src="@img/footer/1x/1x-focus-7.jpg"
                    loading="lazy"
                    alt="Фокус"
                    width="79"
                    height="111"
                  />
                </picture>
              </a>
            </article>
          </li>
          <li class="b-footer__focus-item">
            <article class="c-focus-card">
              <h3 class="u-visually-hidden">Фокус</h3>
              <a class="c-focus-card__link" href="#">
                <picture class="c-focus-card__picture">
                  <source
                    srcset="
                      @img/footer/1x/1x-focus-8.webp 1x,
                      @img/footer/2x/2x-focus-8.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    srcset="
                      @img/footer/1x/1x-focus-8.jpg 1x,
                      @img/footer/2x/2x-focus-8.jpg 2x
                    "
                  />
                  <img
                    class="c-focus-card__img"
                    src="@img/footer/1x/1x-focus-8.jpg"
                    loading="lazy"
                    alt="Фокус"
                    width="84"
                    height="111"
                  />
                </picture>
              </a>
            </article>
          </li>
        </ul>
        <div class="b-footer__subscription">
          <p class="b-footer__subscription-text">
            Гарантировано получите скидку -10%
          </p>
          <button class="b-footer__button c-button" type="button">
            Подписаться
          </button>
        </div>
      </div>
    </div>
    <div class="b-footer__content-wrapper">
      <div class="b-footer__content-inner-wrapper">
        <p class="b-footer__content">
          Все права на материалы, опубликованные на данном ресурсе, принадлежат
          ООО "ФОКУС МЕДИА". Какое-либо использование материалов без письменного
          разрешения ООО "ФОКУС МЕДИА" - запрещено. При использовании материалов
          с данного ресурса гиперссылка focus.ua обязательна.
        </p>
        <p class="b-footer__content">
          Данный ресурс — для пользователей возрастом от 18 лет и старше.
        </p>
      </div>
      <div class="b-footer__content-inner-wrapper">
        <p class="b-footer__content">
          Перепечатка, копирование или воспроизведение информации, содержащей
          ссылку на агентство ИнА "Українські Новини", в каком-либо виде строго
          запрещены.
        </p>
        <p class="b-footer__content">
          Все материалы, которые размещены на этом сайте со ссылкой на агентство
          "Интерфакс-Украина", не подлежат дальнейшему воспроизведению и/или
          распространению в любой форме, кроме как с письменного разрешения
          агентства.
        </p>
        <p class="b-footer__content">
          Материалы с плашками "Р", "Новости партнеров", "Новости компаний",
          "Новости партий", "Инновации", "Позиция", "Спецпроект при поддержке"
          публикуются на коммерческой основе.
        </p>
      </div>
    </div>
    <div class="b-footer__copyright">
      <p class="b-footer__copyright-text">© 2020 Фокус. Все права защищены.</p>
      <p class="b-footer__copyright-text">Політика конфіденційності</p>
    </div>
  </div>
</footer>
