<footer>
  <div class="my-container">
    <a href="#">
      <svg width="184" height="40">
        <use href="@img/icons/icons.svg#ab"></use></svg
    ></a>
    <div>
      <div>
        <ul>
          <li><a href="#">Политика</a></li>
          <li><a href="#">Украина</a></li>
          <li><a href="#">Экономика</a></li>
          <li><a href="#">Культура</a></li>
          <li><a href="#">Мнение</a></li>
          <li><a href="#">Рейтинги</a></li>
          <li><a href="#">Длинный focus</a></li>
          <li><a href="#">Мир</a></li>
        </ul>
        <p>
          Все права на материалы, опубликованные на данном ресурсе, принадлежат
          ООО "ФОКУС МЕДИА". Какое-либо использование материалов без письменного
          разрешения ООО "ФОКУС МЕДИА" - запрещено. При использовании материалов
          с данного ресурса гиперссылка focus.ua обязательна.
        </p>
        <p>Данный ресурс — для пользователей возрастом от 18 лет и старше.</p>
      </div>
      <div>
        <div>
          <ul>
            <li>
              <article>
                <a href="#">
                  <picture>
                    <source
                      srcset="
                        @img/footer/1x/1x-focus-6.webp 1x,
                        @img/footer/2x/2x-focus-6.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      srcset="
                        @img/footer/1x/1x-focus-6.jpg 1x,
                        @img/footer/2x/2x-focus-6.jpg 2x
                      "
                    />
                    <img
                      src="@img/footer/1x/1x-focus-6.jpg"
                      alt="Фокус"
                      width="87"
                      height="114"
                    />
                  </picture>
                </a>
              </article>
            </li>
            <li>
              <article>
                <a href="#">
                  <picture>
                    <source
                      srcset="
                        @img/footer/1x/1x-focus-7.webp 1x,
                        @img/footer/2x/2x-focus-7.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      srcset="
                        @img/footer/1x/1x-focus-7.jpg 1x,
                        @img/footer/2x/2x-focus-7.jpg 2x
                      "
                    />
                    <img
                      src="@img/footer/1x/1x-focus-7.jpg"
                      alt="Фокус"
                      width="79"
                      height="114"
                    />
                  </picture>
                </a>
              </article>
            </li>
            <li>
              <article>
                <a href="#">
                  <picture>
                    <source
                      srcset="
                        @img/footer/1x/1x-focus-8.webp 1x,
                        @img/footer/2x/2x-focus-8.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      srcset="
                        @img/footer/1x/1x-focus-8.jpg 1x,
                        @img/footer/2x/2x-focus-8.jpg 2x
                      "
                    />
                    <img
                      src="@img/footer/1x/1x-focus-8.jpg"
                      alt="Фокус"
                      width="84"
                      height="112"
                    />
                  </picture>
                </a>
              </article>
            </li>
          </ul>
          <div>
            <p>Гарантировано получите скидку -10%</p>
            <button type="button">Подписаться</button>
          </div>
        </div>
        <p>
          Перепечатка, копирование или воспроизведение информации, содержащей
          ссылку на агентство ИнА "Українські Новини", в каком-либо виде строго
          запрещены.
        </p>
        <p>
          Все материалы, которые размещены на этом сайте со ссылкой на агентство
          "Интерфакс-Украина", не подлежат дальнейшему воспроизведению и/или
          распространению в любой форме, кроме как с письменного разрешения
          агентства.
        </p>
        <p>
          Материалы с плашками "Р", "Новости партнеров", "Новости компаний",
          "Новости партий", "Инновации", "Позиция", "Спецпроект при поддержке"
          публикуются на коммерческой основе.
        </p>
      </div>
    </div>
    <div>
      <p>© 2020 Фокус. Все права защищены.</p>
      <p>Політика конфіденційності</p>
    </div>
  </div>
</footer>
