<header class="b-header b-header--fixed">
  <div class="b-header__container c-container">
    <h1 class="u-visually-hidden">Фокус - новости в Украине и мире</h1>
    <button
      class="b-header__button-burger c-button-burger c-button-burger--active"
      type="button"
      aria-label="Menu"
    >
      <span class="c-button-burger__line"></span>
    </button>
    <a class="b-header__logo" href="/index.html">
      <picture class="b-header__picture">
        <source
          srcset="
            @img/logo/1x/1x-logo-header.webp 1x,
            @img/logo/2x/2x-logo-header.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            @img/logo/1x/1x-logo-header.png 1x,
            @img/logo/2x/2x-logo-header.png 2x
          "
        />
        <img
          class="b-header__img"
          src="@img/logo/1x/1x-logo-header.png"
          loading="lazy"
          alt="Логотип"
          width="135"
          height="30"
        />
      </picture>
    </a>
    <ul class="b-header__menu c-menu">
      <li class="c-menu__item c-menu__item--margin-right--40">
        <a class="c-menu__link" href="#categories">Категории</a>
      </li>
      <li class="c-menu__item c-menu__item--margin-right--40">
        <a class="c-menu__link" href="#special-topic">Спецтема</a>
      </li>
      <li class="c-menu__item c-menu__item--margin-right--40">
        <a class="c-menu__link" href="#ratings">Рейтинги</a>
      </li>
      <li class="c-menu__item c-menu__item--margin-right--40">
        <a class="c-menu__link" href="#subscription">Подписка</a>
      </li>
    </ul>
    <ul class="b-header__language c-language">
      <li class="c-language__item">
        <a class="c-language__link" href="#">ua</a>
      </li>
      <li class="c-language__item c-language__item--active">
        <a class="c-language__link" href="#">ru</a>
      </li>
    </ul>
    <button class="c-button-search" type="submit" aria-label="Search">
      <svg class="c-button-search__icon" width="20" height="20">
        <use href="@img/icons/icons.svg#search"></use>
      </svg>
    </button>
    <form class="b-header__form-search c-form-search u-visually-hidden">
      <input
        class="c-form-search__input"
        type="text"
        autocomplete="off"
        placeholder="Поиск по сайту"
      />
      <button class="c-form-search__button c-button" type="submit">
        Найти
      </button>
    </form>
  </div>
</header>
