<header>
  <div class="my-container">
    <h1>Фокус - новости в Украине и мире</h1>
    <div>
      <button type="button" aria-label="Menu">
        <span>BGR</span>
      </button>
      <a href="/index.html">
        <svg width="135" height="30">
          <use href="@img/icons/icons.svg#ab"></use></svg
      ></a>
    </div>
    <ul>
      <li><a href="#">Категории</a></li>
      <li><a href="#">Спецтема</a></li>
      <li><a href="#">Рейтинги</a></li>
      <li><a href="#">Подписка</a></li>
    </ul>
    <div>
      <ul>
        <li>UA</li>
        <li>RU</li>
      </ul>
      <input type="text" placeholder="Поиск по сайту" />
      <button type="button" aria-label="Search">
        <svg width="20" height="20">
          <use href="@img/icons/icons.svg#search"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
