<section class="hero">
  <div class="my-container">
    <div>
      <ul>
        <li>
          <div>
            <picture>
              <source
                srcset="
                  @img/hero/1x/1x-lady-in-law-small.webp 1x,
                  @img/hero/2x/2x-lady-in-law-small.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/hero/1x/1x-lady-in-law-small.jpg 1x,
                  @img/hero/2x/2x-lady-in-law-small.jpg 2x
                "
              />
              <img
                src="@img/hero/1x/1x-lady-in-law-small.jpg"
                alt="Леди в законе. Особый статус для жены президетна"
                width="300"
                height="60"
              />
            </picture>
          </div>
          <p>Леди в законе. Особый статус для жены президетна</p>
          <progress max="100" value="70"></progress>
        </li>
        <li>
          <div>
            <picture>
              <source
                srcset="
                  @img/hero/1x/1x-explosion-on-poznyak-small.webp 1x,
                  @img/hero/2x/2x-explosion-on-poznyak-small.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/hero/1x/1x-explosion-on-poznyak-small.jpg 1x,
                  @img/hero/2x/2x-explosion-on-poznyak-small.jpg 2x
                "
              />
              <img
                src="@img/hero/1x/1x-explosion-on-poznyak-small.jpg"
                alt="Взрыв на Позняках в Киеве"
                width="300"
                height="60"
              />
            </picture>
          </div>
          <p>Взрыв на Позняках в Киеве</p>
          <progress max="100" value="70"></progress>
        </li>
        <li>
          <div>
            <picture>
              <source
                srcset="
                  @img/hero/1x/1x-flood-small.webp 1x,
                  @img/hero/2x/2x-flood-small.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/hero/1x/1x-flood-small.jpg 1x,
                  @img/hero/2x/2x-flood-small.jpg 2x
                "
              />
              <img
                src="@img/hero/1x/1x-flood-small.jpg"
                alt="Потоп на западной Украине"
                width="300"
                height="60"
              />
            </picture>
          </div>
          <p>Потоп на западной Украине</p>
          <progress max="100" value="70"></progress>
        </li>
        <li>
          <div>
            <picture>
              <source
                srcset="
                  @img/hero/1x/1x-digital-transformation-small.webp 1x,
                  @img/hero/2x/2x-digital-transformation-small.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/hero/1x/1x-digital-transformation-small.jpg 1x,
                  @img/hero/2x/2x-digital-transformation-small.jpg 2x
                "
              />
              <img
                src="@img/hero/1x/1x-digital-transformation-small.jpg"
                alt="Цифровая трансформация бизнеса Украины"
                width="300"
                height="60"
              />
            </picture>
          </div>
          <p>Цифровая трансформация бизнеса Украины</p>
          <progress max="100" value="70"></progress>
        </li>
      </ul>
    </div>
    <div id="carouselHero" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <article>
            <a href="#">Политика</a>
            <a href="#"></a>
            <div>
              <picture>
                <source
                  srcset="
                    @img/hero/1x/1x-lady-in-law.webp 1x,
                    @img/hero/2x/2x-lady-in-law.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/hero/1x/1x-lady-in-law.jpg 1x,
                    @img/hero/2x/2x-lady-in-law.jpg 2x
                  "
                />
                <img
                  src="@img/hero/1x/1x-lady-in-law.jpg"
                  alt="Леди в законе. Особый статус для жены президетна"
                  width="1272"
                  height="466"
                />
              </picture>
            </div>
            <div>
              <h2>
                Леди в законе. Зачем Зеленскому понадобился особый статус для
                жены президента
              </h2>
              <p>
                Владимир Зеленский загорелся идеей разработки закона о первой
                леди. Для чего ему это понадобилось, и какие права и обязанности
                возлагаются на супругу главы государства в Украине
              </p>
            </div>
          </article>
        </div>
        <div class="carousel-item">
          <article>
            <a href="#">Украина</a>
            <a href="#"></a>
            <div>
              <picture>
                <source
                  srcset="
                    @img/hero/1x/1x-explosion-on-poznyak.webp 1x,
                    @img/hero/2x/2x-explosion-on-poznyak.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/hero/1x/1x-explosion-on-poznyak.jpg 1x,
                    @img/hero/2x/2x-explosion-on-poznyak.jpg 2x
                  "
                />
                <img
                  src="@img/hero/1x/1x-explosion-on-poznyak.jpg"
                  alt="Взрыв на Позняках в Киеве"
                  width="1272"
                  height="466"
                />
              </picture>
            </div>
            <div>
              <h2>Взрыв на Позняках в Киеве</h2>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex
                sapiente quos perferendis ab commodi. Delectus, accusantium
                commodi ad temporibus ex ea necessitatibus adipisci, veniam
                saepe, libero distinctio labore harum illum!
              </p>
            </div>
          </article>
        </div>
        <div class="carousel-item">
          <article>
            <a href="#">Украина</a>
            <a href="#"></a>
            <div>
              <picture>
                <source
                  srcset="
                    @img/hero/1x/1x-flood.webp 1x,
                    @img/hero/2x/2x-flood.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/hero/1x/1x-flood.jpg 1x,
                    @img/hero/2x/2x-flood.jpg 2x
                  "
                />
                <img
                  src="@img/hero/1x/1x-flood.jpg"
                  alt="Потоп на западной Украине"
                  width="1272"
                  height="466"
                />
              </picture>
            </div>
            <div>
              <h2>Потоп на западной Украине</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque ipsam magni cupiditate vitae autem corporis tempore
                expedita iste aperiam, ipsum aut accusantium labore harum
                molestiae et voluptatibus quae numquam hic!
              </p>
            </div>
          </article>
        </div>
        <div class="carousel-item">
          <article>
            <a href="#">Технологии и наука</a>
            <a href="#"></a>
            <div>
              <picture>
                <source
                  srcset="
                    @img/hero/1x/1x-digital-transformation.webp 1x,
                    @img/hero/2x/2x-digital-transformation.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/hero/1x/1x-digital-transformation.jpg 1x,
                    @img/hero/2x/2x-digital-transformation.jpg 2x
                  "
                />
                <img
                  src="@img/hero/1x/1x-digital-transformation.jpg"
                  alt="Цифровая трансформация бизнеса Украины"
                  width="1272"
                  height="466"
                />
              </picture>
            </div>
            <div>
              <h2>Цифровая трансформация бизнеса Украины</h2>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem
                esse sed tempore, sint minus sapiente vitae rem, quia dolores
                tempora saepe officia odit amet modi veritatis possimus deleniti
                unde necessitatibus.
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
