<section class="b-long-focus">
  <h2 class="u-visually-hidden">Длинный фокус</h2>
  <div class="c-container">
    <div class="c-slider-focus js-slider-focus">
      <div class="c-slider-focus__container">
        <ul class="c-slider-focus__list">
          <li class="c-slider-focus__item">
            <article class="c-card-category">
              <a
                class="c-card-category__category c-link-category c-link-category--lite"
                href="#"
                >Длинный фокус</a
              >
              <picture class="c-card-category__picture u-picture-absolute">
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-desktop.webp 1x,
                    @img/long-focus/2x/2x-no-longing-desktop.webp 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-desktop.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-desktop.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-small-desktop.webp 1x,
                    @img/long-focus/2x/2x-no-longing-small-desktop.webp 2x
                  "
                  media="(min-width: 1024px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-small-desktop.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-small-desktop.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-tablet.webp 1x,
                    @img/long-focus/2x/2x-no-longing-tablet.webp 2x
                  "
                  media="(min-width: 481px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-tablet.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-tablet.jpg 2x
                  "
                  media="(min-width: 481px)"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-mobile.webp 1x,
                    @img/long-focus/2x/2x-no-longing-mobile.webp 2x
                  "
                  media="(max-width: 480px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-mobile.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-mobile.jpg 2x
                  "
                  media="(max-width: 480px)"
                />
                <img
                  class="c-card-category__img"
                  src="@img/long-focus/1x/1x-no-longing-desktop.jpg"
                  loading="lazy"
                  alt="Ни тоски, ни жалости"
                  width="1272"
                  height="400"
                />
              </picture>
              <div
                class="c-card-category__content c-card-category__content--ta--center c-card-category__content--plr--25"
              >
                <h2 class="c-card-category__title">
                  <a class="c-card-category__link u-link" href="#"
                    >Slide 4 Slide 4</a
                  >
                </h2>
                <p class="c-card-category__text">
                  Maxime eos dolore expedita vel
                </p>
              </div>
            </article>
          </li>
          <li class="c-slider-focus__item">
            <article class="c-card-category">
              <a
                class="c-card-category__category c-link-category c-link-category--lite"
                href="#"
                >Длинный фокус</a
              >
              <picture class="c-card-category__picture u-picture-absolute">
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-desktop.webp 1x,
                    @img/long-focus/2x/2x-no-longing-desktop.webp 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-desktop.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-desktop.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-small-desktop.webp 1x,
                    @img/long-focus/2x/2x-no-longing-small-desktop.webp 2x
                  "
                  media="(min-width: 1024px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-small-desktop.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-small-desktop.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-tablet.webp 1x,
                    @img/long-focus/2x/2x-no-longing-tablet.webp 2x
                  "
                  media="(min-width: 481px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-tablet.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-tablet.jpg 2x
                  "
                  media="(min-width: 481px)"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-mobile.webp 1x,
                    @img/long-focus/2x/2x-no-longing-mobile.webp 2x
                  "
                  media="(max-width: 480px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-mobile.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-mobile.jpg 2x
                  "
                  media="(max-width: 480px)"
                />
                <img
                  class="c-card-category__img"
                  src="@img/long-focus/1x/1x-no-longing-desktop.jpg"
                  loading="lazy"
                  alt="Ни тоски, ни жалости"
                  width="1272"
                  height="400"
                />
              </picture>
              <div
                class="c-card-category__content c-card-category__content--ta--center c-card-category__content--plr--25"
              >
                <h2 class="c-card-category__title">
                  <a class="c-card-category__link u-link" href="#"
                    >Ни тоски, ни жалости</a
                  >
                </h2>
                <p class="c-card-category__text">
                  Почему украинки участвуют в боях без правил
                </p>
              </div>
            </article>
          </li>
          <li class="c-slider-focus__item">
            <article class="c-card-category">
              <a
                class="c-card-category__category c-link-category c-link-category--lite"
                href="#"
                >Длинный фокус</a
              >
              <picture class="c-card-category__picture u-picture-absolute">
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-desktop.webp 1x,
                    @img/long-focus/2x/2x-no-longing-desktop.webp 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-desktop.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-desktop.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-small-desktop.webp 1x,
                    @img/long-focus/2x/2x-no-longing-small-desktop.webp 2x
                  "
                  media="(min-width: 1024px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-small-desktop.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-small-desktop.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-tablet.webp 1x,
                    @img/long-focus/2x/2x-no-longing-tablet.webp 2x
                  "
                  media="(min-width: 481px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-tablet.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-tablet.jpg 2x
                  "
                  media="(min-width: 481px)"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-mobile.webp 1x,
                    @img/long-focus/2x/2x-no-longing-mobile.webp 2x
                  "
                  media="(max-width: 480px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-mobile.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-mobile.jpg 2x
                  "
                  media="(max-width: 480px)"
                />
                <img
                  class="c-card-category__img"
                  src="@img/long-focus/1x/1x-no-longing-desktop.jpg"
                  loading="lazy"
                  alt="Ни тоски, ни жалости"
                  width="1272"
                  height="400"
                />
              </picture>
              <div
                class="c-card-category__content c-card-category__content--ta--center c-card-category__content--plr--25"
              >
                <h2 class="c-card-category__title">
                  <a class="c-card-category__link u-link" href="#"
                    >Slide 2 Slide 2</a
                  >
                </h2>
                <p class="c-card-category__text">Lorem ipsum dolor sit amet</p>
              </div>
            </article>
          </li>
          <li class="c-slider-focus__item">
            <article class="c-card-category">
              <a
                class="c-card-category__category c-link-category c-link-category--lite"
                href="#"
                >Длинный фокус</a
              >
              <picture class="c-card-category__picture u-picture-absolute">
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-desktop.webp 1x,
                    @img/long-focus/2x/2x-no-longing-desktop.webp 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-desktop.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-desktop.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-small-desktop.webp 1x,
                    @img/long-focus/2x/2x-no-longing-small-desktop.webp 2x
                  "
                  media="(min-width: 1024px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-small-desktop.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-small-desktop.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-tablet.webp 1x,
                    @img/long-focus/2x/2x-no-longing-tablet.webp 2x
                  "
                  media="(min-width: 481px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-tablet.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-tablet.jpg 2x
                  "
                  media="(min-width: 481px)"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-mobile.webp 1x,
                    @img/long-focus/2x/2x-no-longing-mobile.webp 2x
                  "
                  media="(max-width: 480px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-mobile.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-mobile.jpg 2x
                  "
                  media="(max-width: 480px)"
                />
                <img
                  class="c-card-category__img"
                  src="@img/long-focus/1x/1x-no-longing-desktop.jpg"
                  loading="lazy"
                  alt="Ни тоски, ни жалости"
                  width="1272"
                  height="400"
                />
              </picture>
              <div
                class="c-card-category__content c-card-category__content--ta--center c-card-category__content--plr--25"
              >
                <h2 class="c-card-category__title">
                  <a class="c-card-category__link u-link" href="#"
                    >Slide 3 Slide 3</a
                  >
                </h2>
                <p class="c-card-category__text">
                  laboriosam amet officia unde esse maiores
                </p>
              </div>
            </article>
          </li>
          <li class="c-slider-focus__item">
            <article class="c-card-category">
              <a
                class="c-card-category__category c-link-category c-link-category--lite"
                href="#"
                >Длинный фокус</a
              >
              <picture class="c-card-category__picture u-picture-absolute">
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-desktop.webp 1x,
                    @img/long-focus/2x/2x-no-longing-desktop.webp 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-desktop.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-desktop.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-small-desktop.webp 1x,
                    @img/long-focus/2x/2x-no-longing-small-desktop.webp 2x
                  "
                  media="(min-width: 1024px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-small-desktop.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-small-desktop.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-tablet.webp 1x,
                    @img/long-focus/2x/2x-no-longing-tablet.webp 2x
                  "
                  media="(min-width: 481px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-tablet.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-tablet.jpg 2x
                  "
                  media="(min-width: 481px)"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-mobile.webp 1x,
                    @img/long-focus/2x/2x-no-longing-mobile.webp 2x
                  "
                  media="(max-width: 480px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-mobile.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-mobile.jpg 2x
                  "
                  media="(max-width: 480px)"
                />
                <img
                  class="c-card-category__img"
                  src="@img/long-focus/1x/1x-no-longing-desktop.jpg"
                  loading="lazy"
                  alt="Ни тоски, ни жалости"
                  width="1272"
                  height="400"
                />
              </picture>
              <div
                class="c-card-category__content c-card-category__content--ta--center c-card-category__content--plr--25"
              >
                <h2 class="c-card-category__title">
                  <a class="c-card-category__link u-link" href="#"
                    >Slide 4 Slide 4</a
                  >
                </h2>
                <p class="c-card-category__text">
                  Maxime eos dolore expedita vel
                </p>
              </div>
            </article>
          </li>
          <li class="c-slider-focus__item">
            <article class="c-card-category">
              <a
                class="c-card-category__category c-link-category c-link-category--lite"
                href="#"
                >Длинный фокус</a
              >
              <picture class="c-card-category__picture u-picture-absolute">
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-desktop.webp 1x,
                    @img/long-focus/2x/2x-no-longing-desktop.webp 2x
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-desktop.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-desktop.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-small-desktop.webp 1x,
                    @img/long-focus/2x/2x-no-longing-small-desktop.webp 2x
                  "
                  media="(min-width: 1024px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-small-desktop.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-small-desktop.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-tablet.webp 1x,
                    @img/long-focus/2x/2x-no-longing-tablet.webp 2x
                  "
                  media="(min-width: 481px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-tablet.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-tablet.jpg 2x
                  "
                  media="(min-width: 481px)"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-mobile.webp 1x,
                    @img/long-focus/2x/2x-no-longing-mobile.webp 2x
                  "
                  media="(max-width: 480px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/long-focus/1x/1x-no-longing-mobile.jpg 1x,
                    @img/long-focus/2x/2x-no-longing-mobile.jpg 2x
                  "
                  media="(max-width: 480px)"
                />
                <img
                  class="c-card-category__img"
                  src="@img/long-focus/1x/1x-no-longing-desktop.jpg"
                  loading="lazy"
                  alt="Ни тоски, ни жалости"
                  width="1272"
                  height="400"
                />
              </picture>
              <div
                class="c-card-category__content c-card-category__content--ta--center c-card-category__content--plr--25"
              >
                <h2 class="c-card-category__title">
                  <a class="c-card-category__link u-link" href="#"
                    >Ни тоски, ни жалости</a
                  >
                </h2>
                <p class="c-card-category__text">
                  Почему украинки участвуют в боях без правил
                </p>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <button
        class="c-slider-focus__button-arrow c-slider-focus__button-arrow--left c-slider-focus__button-arrow--lite c-button-arrow"
        type="button"
        aria-label="Previous"
      >
        <svg class="c-button-arrow__icon" width="24" height="47">
          <use href="@img/icons/icons.svg#arrow-left"></use>
        </svg>
      </button>
      <button
        class="c-slider-focus__button-arrow c-slider-focus__button-arrow--right c-slider-focus__button-arrow--lite c-button-arrow"
        type="button"
        aria-label="Next"
      >
        <svg class="c-button-arrow__icon" width="24" height="47">
          <use href="@img/icons/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
