<section class="long-focus">
  <div class="my-container long-focus__my-container">
    <div class="c-slider-focus">
      <div class="c-slider-focus__container">
        <ul class="c-slider-focus__list">
          <li class="c-slider-focus__item">
            <article class="c-card-slide-focus">
              <a href="#" class="c-card-slide-focus__link-category"
                >Длинный фокус</a
              >
              <a href="#" class="c-card-slide-focus__link"></a>
              <div class="c-card-slide-focus__img-wrapper">
                <picture>
                  <source
                    srcset="
                      @img/long-focus/1x/1x-no-longing-desktop.webp 1x,
                      @img/long-focus/2x/2x-no-longing-desktop.webp 2x
                    "
                    media="(min-width: 1440px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      @img/long-focus/1x/1x-no-longing-desktop.jpg 1x,
                      @img/long-focus/2x/2x-no-longing-desktop.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      @img/long-focus/1x/1x-no-longing-small-desktop.webp 1x,
                      @img/long-focus/2x/2x-no-longing-small-desktop.webp 2x
                    "
                    media="(min-width: 1024px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      @img/long-focus/1x/1x-no-longing-small-desktop.jpg 1x,
                      @img/long-focus/2x/2x-no-longing-small-desktop.jpg 2x
                    "
                    media="(min-width: 1024px)"
                  />
                  <source
                    srcset="
                      @img/long-focus/1x/1x-no-longing-tablet.webp 1x,
                      @img/long-focus/2x/2x-no-longing-tablet.webp 2x
                    "
                    media="(min-width: 768px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      @img/long-focus/1x/1x-no-longing-tablet.jpg 1x,
                      @img/long-focus/2x/2x-no-longing-tablet.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      @img/long-focus/1x/1x-no-longing-mobile.webp 1x,
                      @img/long-focus/2x/2x-no-longing-mobile.webp 2x
                    "
                    media="(min-width: 360px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      @img/long-focus/1x/1x-no-longing-mobile.jpg 1x,
                      @img/long-focus/2x/2x-no-longing-mobile.jpg 2x
                    "
                    media="(min-width: 360px)"
                  />
                  <img
                    class="c-card-slide-focus__img"
                    src="@img/long-focus/1x/1x-no-longing-desktop.jpg"
                    alt="Ни тоски, ни жалости"
                    width="1272"
                    height="400"
                  />
                </picture>
              </div>
              <div class="c-card-slide-focus__content">
                <h2 class="c-card-slide-focus__title">Ни тоски, ни жалости</h2>
                <p class="c-card-slide-focus__text">
                  Почему украинки участвуют в боях без правил
                </p>
              </div>
            </article>
          </li>
          <li class="c-slider-focus__item">
            <article class="c-card-slide-focus">
              <a href="#" class="c-card-slide-focus__link-category"
                >Длинный фокус</a
              >
              <a href="#" class="c-card-slide-focus__link"></a>
              <div class="c-card-slide-focus__img-wrapper">
                <picture>
                  <source
                    srcset="
                      @img/long-focus/1x/1x-no-longing-desktop.webp 1x,
                      @img/long-focus/2x/2x-no-longing-desktop.webp 2x
                    "
                    media="(min-width: 1440px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      @img/long-focus/1x/1x-no-longing-desktop.jpg 1x,
                      @img/long-focus/2x/2x-no-longing-desktop.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      @img/long-focus/1x/1x-no-longing-small-desktop.webp 1x,
                      @img/long-focus/2x/2x-no-longing-small-desktop.webp 2x
                    "
                    media="(min-width: 1024px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      @img/long-focus/1x/1x-no-longing-small-desktop.jpg 1x,
                      @img/long-focus/2x/2x-no-longing-small-desktop.jpg 2x
                    "
                    media="(min-width: 1024px)"
                  />
                  <source
                    srcset="
                      @img/long-focus/1x/1x-no-longing-tablet.webp 1x,
                      @img/long-focus/2x/2x-no-longing-tablet.webp 2x
                    "
                    media="(min-width: 768px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      @img/long-focus/1x/1x-no-longing-tablet.jpg 1x,
                      @img/long-focus/2x/2x-no-longing-tablet.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      @img/long-focus/1x/1x-no-longing-mobile.webp 1x,
                      @img/long-focus/2x/2x-no-longing-mobile.webp 2x
                    "
                    media="(min-width: 360px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      @img/long-focus/1x/1x-no-longing-mobile.jpg 1x,
                      @img/long-focus/2x/2x-no-longing-mobile.jpg 2x
                    "
                    media="(min-width: 360px)"
                  />
                  <img
                    class="c-card-slide-focus__img"
                    src="@img/long-focus/1x/1x-no-longing-desktop.jpg"
                    alt="Ни тоски, ни жалости"
                    width="1272"
                    height="400"
                  />
                </picture>
              </div>
              <div class="c-card-slide-focus__content">
                <h2 class="c-card-slide-focus__title">Ни тоски, ни жалости</h2>
                <p class="c-card-slide-focus__text">
                  Почему украинки участвуют в боях без правил
                </p>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <button
        class="c-button-arrow c-slider-focus__button-arrow c-slider-focus__button-arrow--left"
        type="button"
        aria-label="Previous"
      >
        <svg class="c-button-arrow__icon" width="24" height="47">
          <use href="@img/icons/icons.svg#arrow-left"></use>
        </svg>
      </button>
      <button
        class="c-button-arrow c-slider-focus__button-arrow c-slider-focus__button-arrow--right"
        type="button"
        aria-label="Next"
      >
        <svg class="c-button-arrow__icon" width="24" height="47">
          <use href="@img/icons/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
