<section>
  <div class="my-container">
    <div id="carouselLongFocus" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="#">Длинный фокус</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/long-focus/1x/1x-no-longing.webp 1x,
                  @img/long-focus/2x/2x-no-longing.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/long-focus/1x/1x-no-longing.jpg 1x,
                  @img/long-focus/2x/2x-no-longing.jpg 2x
                "
              />
              <img
                src="@img/long-focus/1x/1x-no-longing.jpg"
                alt="Ни тоски, ни жалости"
                width="1272"
                height="400"
              />
            </picture>
          </div>
          <div>
            <h2>Ни тоски, ни жалости</h2>
            <p>Почему украинки участвуют в боях без правил</p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="#">Длинный фокус</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/long-focus/1x/1x-no-longing.webp 1x,
                  @img/long-focus/2x/2x-no-longing.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/long-focus/1x/1x-no-longing.jpg 1x,
                  @img/long-focus/2x/2x-no-longing.jpg 2x
                "
              />
              <img
                src="@img/long-focus/1x/1x-no-longing.jpg"
                alt="Ни тоски, ни жалости"
                width="1272"
                height="400"
              />
            </picture>
          </div>
          <div>
            <h2>Ни тоски, ни жалости</h2>
            <p>Почему украинки участвуют в боях без правил</p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="#">Длинный фокус</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/long-focus/1x/1x-no-longing.webp 1x,
                  @img/long-focus/2x/2x-no-longing.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/long-focus/1x/1x-no-longing.jpg 1x,
                  @img/long-focus/2x/2x-no-longing.jpg 2x
                "
              />
              <img
                src="@img/long-focus/1x/1x-no-longing.jpg"
                alt="Ни тоски, ни жалости"
                width="1272"
                height="400"
              />
            </picture>
          </div>
          <div>
            <h2>Ни тоски, ни жалости</h2>
            <p>Почему украинки участвуют в боях без правил</p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselLongFocus"
        data-bs-slide="prev"
      >
        <span
          class="carousel-control-prev-icon"
          aria-hidden="true"
          aria-label="NPreviousext"
        ></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselLongFocus"
        data-bs-slide="next"
      >
        <span
          class="carousel-control-next-icon"
          aria-hidden="true"
          aria-label="Next"
        ></span>
      </button>
    </div>
  </div>
</section>
