<section class="popular">
  <div class="my-container popular__my-container">
    <h2 class="title popular__title">Сейчас популярно</h2>
    <div class="c-slider-popular">
      <div class="c-slider-popular__container">
        <ul class="c-slider-popular__list">
          <li class="c-slider-popular__item">
            <article class="c-card-3">
              <a href="#" class="c-card-3__link-category">Протесты в США</a>
              <a href="#" class="c-card-3__link"></a>
              <div class="c-card-3__img-wrapper">
                <picture>
                  <source
                    srcset="
                      @img/popular/1x/1x-propaganda-victims.webp 1x,
                      @img/popular/2x/2x-propaganda-victims.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    srcset="
                      @img/popular/1x/1x-propaganda-victims.jpg 1x,
                      @img/popular/2x/2x-propaganda-victims.jpg 2x
                    "
                  />
                  <img
                    class="c-card-3__img-wrapper"
                    src="@img/popular/1x/1x-propaganda-victims.jpg"
                    alt="Жертвы собственной пропаганды"
                    width="300"
                    height="292"
                  />
                </picture>
              </div>
              <div class="c-card-3__content">
                <h3 class="c-card-3__title">
                  Жертвы собственной пропаганды. Как либеральные могут проиграть
                  холодную войну
                </h3>
                <span class="c-card-3__time">15:44</span>
              </div>
            </article>
          </li>
          <li class="c-slider-popular__item">
            <article class="c-card-5 c-card-5--background-color">
              <a
                href="#"
                class="c-card-5__link-category c-card-5__link-category--lite c-card-5__link-category--position"
                >Мир</a
              >
              <a href="#" class="c-card-5__link"></a>
              <div class="c-card-5__content c-card-5__content--padding">
                <h3 class="c-card-5__title c-card-5__title--color">
                  Австралиец выловил рекордного красного императора и решил
                  передать его ученым
                </h3>
                <span class="c-card-5__time c-card-5__time--color">15:44</span>
              </div>
            </article>
          </li>
          <li class="c-slider-popular__item">
            <article class="c-card-5">
              <a
                href="#"
                class="c-card-5__link-category c-card-5__link-category--position"
                >Мир</a
              >
              <a href="#" class="c-card-5__link"></a>
              <div class="c-card-5__content c-card-5__content--padding">
                <h3 class="c-card-5__title">
                  Жизнь за 80. 5 самых пожилых рекорсменов из Книги рекордов
                  Гиннеса
                </h3>
                <span class="c-card-5__time">15:44</span>
              </div>
            </article>
          </li>
          <li class="c-slider-popular__item">
            <article class="c-card-3">
              <a href="#" class="c-card-3__link-category">Мир</a>
              <a href="#" class="c-card-3__link"></a>
              <div class="c-card-3__img-wrapper">
                <picture>
                  <source
                    srcset="
                      @img/popular/1x/1x-dress-code.webp 1x,
                      @img/popular/2x/2x-dress-code.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    srcset="
                      @img/popular/1x/1x-dress-code.jpg 1x,
                      @img/popular/2x/2x-dress-code.jpg 2x
                    "
                  />
                  <img
                    class="c-card-3__img"
                    src="@img/popular/1x/1x-dress-code.jpg"
                    alt="Дресс-код постапокалипсиса"
                    width="300"
                    height="292"
                  />
                </picture>
              </div>
              <div class="c-card-3__content">
                <h3 class="c-card-3__title">
                  Дресс-код постапокалипсиса. Как коронавирус и карантин
                  навсегда изменили стиль
                </h3>
                <span class="c-card-3__time">15:44</span>
              </div>
            </article>
          </li>
          <li class="c-slider-popular__item"></li>
          <li class="c-slider-popular__item"></li>
        </ul>
      </div>
      <button
        class="c-button-arrow c-slider-popular__button-arrow c-slider-popular__button-arrow--left"
        type="button"
        aria-label="Previous"
      >
        <svg class="c-button-arrow__icon" width="24" height="47">
          <use href="@img/icons/icons.svg#arrow-left"></use>
        </svg>
      </button>
      <button
        class="c-button-arrow c-slider-popular__button-arrow c-slider-popular__button-arrow--right"
        type="button"
        aria-label="Next"
      >
        <svg class="c-button-arrow__icon" width="24" height="47">
          <use href="@img/icons/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
