<section>
  <div class="my-container">
    <h2>Сейчас популярно</h2>
    <div
      id="carouselPopular"
      class="carousel-popular carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <article class="col-md-3">
            <a href="#">Протесты в США</a>
            <a href="#"></a>
            <div>
              <picture>
                <source
                  srcset="
                    @img/popular/1x/1x-propaganda-victims.webp 1x,
                    @img/popular/2x/2x-propaganda-victims.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/popular/1x/1x-propaganda-victims.jpg 1x,
                    @img/popular/2x/2x-propaganda-victims.jpg 2x
                  "
                />
                <img
                  src="@img/popular/1x/1x-propaganda-victims.jpg"
                  alt="Жертвы собственной пропаганды"
                  width="300"
                  height="292"
                />
              </picture>
            </div>
            <div>
              <h3>
                Жертвы собственной пропаганды. Как либеральные могут проиграть
                холодную войну
              </h3>
              <span>15:44</span>
            </div>
          </article>
        </div>
        <div class="carousel-item">
          <article class="col-md-3">
            <a href="#">Мир</a>
            <a href="#"></a>
            <div>
              <h3>
                Австралиец выловил рекордного красного императора и решил
                передать его ученым
              </h3>
              <span>15:44</span>
            </div>
          </article>
        </div>
        <div class="carousel-item">
          <article class="col-md-3">
            <a href="#">Мир</a>
            <a href="#"></a>
            <div>
              <h3>
                Жизнь за 80. 5 самых пожилых рекорсменов из Книги рекордов
                Гиннеса
              </h3>
              <span>15:44</span>
            </div>
          </article>
        </div>
        <div class="carousel-item">
          <article class="col-md-3">
            <a href="#">Мир</a>
            <a href="#"></a>
            <div>
              <picture>
                <source
                  srcset="
                    @img/popular/1x/1x-dress-code.webp 1x,
                    @img/popular/2x/2x-dress-code.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/popular/1x/1x-dress-code.jpg 1x,
                    @img/popular/2x/2x-dress-code.jpg 2x
                  "
                />
                <img
                  src="@img/popular/1x/1x-dress-code.jpg"
                  alt="Дресс-код постапокалипсиса"
                  width="300"
                  height="292"
                />
              </picture>
            </div>
            <div>
              <h3>
                Дресс-код постапокалипсиса. Как коронавирус и карантин навсегда
                изменили стиль
              </h3>
              <span>15:44</span>
            </div>
          </article>
        </div>
        <div class="carousel-item">
          <article class="col-md-3">
            <a href="#">Протесты в США</a>
            <a href="#"></a>
            <div>
              <picture>
                <source
                  srcset="
                    @img/popular/1x/1x-propaganda-victims.webp 1x,
                    @img/popular/2x/2x-propaganda-victims.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/popular/1x/1x-propaganda-victims.jpg 1x,
                    @img/popular/2x/2x-propaganda-victims.jpg 2x
                  "
                />
                <img
                  src="@img/popular/1x/1x-propaganda-victims.jpg"
                  alt="Жертвы собственной пропаганды"
                  width="300"
                  height="292"
                />
              </picture>
            </div>
            <div>
              <h3>
                Жертвы собственной пропаганды. Как либеральные могут проиграть
                холодную войну
              </h3>
              <span>15:44</span>
            </div>
          </article>
        </div>
        <div class="carousel-item">
          <article class="col-md-3">
            <a href="#">Мир</a>
            <a href="#"></a>
            <div>
              <h3>
                Австралиец выловил рекордного красного императора и решил
                передать его ученым
              </h3>
              <span>15:44</span>
            </div>
          </article>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselPopular"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselPopular"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
