<section class="b-ratings" id="ratings">
  <div class="c-container">
    <h2 class="b-ratings__title c-title">Рейтенги</h2>
    <div class="c-slider-ratings js-slider-ratings">
      <div class="c-slider-ratings__container">
        <ul class="c-slider-ratings__list">
          <li class="c-slider-ratings__item">
            <article class="c-card-rating">
              <picture
                class="c-card-rating__picture c-card-rating__picture--absolute"
              >
                <source
                  srcset="
                    @img/ratings/1x/1x-influential-ukrainians.webp 1x,
                    @img/ratings/2x/2x-influential-ukrainians.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/ratings/1x/1x-influential-ukrainians.jpg 1x,
                    @img/ratings/2x/2x-influential-ukrainians.jpg 2x
                  "
                />
                <img
                  class="c-card-rating__img"
                  src="@img/ratings/1x/1x-influential-ukrainians.jpg"
                  loading="lazy"
                  alt="Самые влиятельные украинцы"
                  width="408"
                  height="514"
                />
              </picture>
              <div
                class="c-slider-ratings__item-content c-card-rating__content"
              >
                <a
                  class="c-card-rating__link-category c-link-category-without-bgc"
                  href="#"
                  >Рейтинг</a
                >
                <span class="c-card-rating__number">100</span>
                <p class="c-card-rating__text">Рейтинг 2019</p>
                <h3 class="c-card-rating__title">
                  <a class="c-card-rating__link u-link" href="#"
                    >Самые влиятельные украинцы
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="c-slider-ratings__item">
            <article class="c-card-rating c-card-rating--bgc--lite">
              <div
                class="c-slider-ratings__item-content c-card-rating__content"
              >
                <a
                  class="c-card-rating__link-category c-link-category-without-bgc c-link-category-without-bgc--dark"
                  href="#"
                  >Рейтинг</a
                >
                <picture
                  class="c-card-rating__picture c-card-rating__picture--mb--38"
                >
                  <source
                    srcset="
                      @img/ratings/1x/1x-riot-buttons.webp 1x,
                      @img/ratings/2x/2x-riot-buttons.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    srcset="
                      @img/ratings/1x/1x-riot-buttons.jpg 1x,
                      @img/ratings/2x/2x-riot-buttons.jpg 2x
                    "
                  />
                  <img
                    class="c-card-rating__img"
                    src="@img/ratings/1x/1x-riot-buttons.jpg"
                    loading="lazy"
                    alt="Бунт кнопок. 30 лучших работодателей Украины — рейтинг Фокуса"
                    width="324"
                    height="194"
                  />
                </picture>
                <h3 class="c-card-rating__title">
                  <a
                    class="c-card-rating__link c-card-rating__link--dark u-link"
                    href="#"
                  >
                    Бунт кнопок. 30 лучших работодателей Украины — рейтинг
                    Фокуса</a
                  >
                </h3>
              </div>
            </article>
          </li>
          <li class="c-slider-ratings__item">
            <article class="c-card-rating c-card-rating--bgc--dark">
              <div
                class="c-slider-ratings__item-content c-card-rating__content"
              >
                <a
                  class="c-card-rating__link-category c-link-category-without-bgc"
                  href="#"
                  >Рейтинг</a
                >
                <span class="c-card-rating__number">100</span>
                <h3 class="c-card-rating__title">
                  <a class="c-card-rating__link u-link" href="#"
                    >Самые богатые люди Украины. Полный список</a
                  >
                </h3>
              </div>
            </article>
          </li>
          <li class="c-slider-ratings__item">
            <article class="c-card-rating">
              <picture
                class="c-card-rating__picture c-card-rating__picture--absolute"
              >
                <source
                  srcset="
                    @img/ratings/1x/1x-influential-ukrainians.webp 1x,
                    @img/ratings/2x/2x-influential-ukrainians.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/ratings/1x/1x-influential-ukrainians.jpg 1x,
                    @img/ratings/2x/2x-influential-ukrainians.jpg 2x
                  "
                />
                <img
                  class="c-card-rating__img"
                  src="@img/ratings/1x/1x-influential-ukrainians.jpg"
                  loading="lazy"
                  alt="Самые влиятельные украинцы"
                  width="408"
                  height="514"
                />
              </picture>
              <div
                class="c-slider-ratings__item-content c-card-rating__content"
              >
                <a
                  class="c-card-rating__link-category c-link-category-without-bgc"
                  href="#"
                  >Рейтинг</a
                >
                <span class="c-card-rating__number">100</span>
                <p class="c-card-rating__text">Рейтинг 2019</p>
                <h3 class="c-card-rating__title">
                  <a class="c-card-rating__link u-link" href="#"
                    >Самые влиятельные украинцы</a
                  >
                </h3>
              </div>
            </article>
          </li>
          <li class="c-slider-ratings__item">
            <article class="c-card-rating c-card-rating--bgc--lite">
              <div
                class="c-slider-ratings__item-content c-card-rating__content"
              >
                <a
                  class="c-card-rating__link-category c-link-category-without-bgc c-link-category-without-bgc--dark"
                  href="#"
                  >Рейтинг</a
                >
                <picture
                  class="c-card-rating__picture c-card-rating__picture--mb--38"
                >
                  <source
                    srcset="
                      @img/ratings/1x/1x-riot-buttons.webp 1x,
                      @img/ratings/2x/2x-riot-buttons.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    srcset="
                      @img/ratings/1x/1x-riot-buttons.jpg 1x,
                      @img/ratings/2x/2x-riot-buttons.jpg 2x
                    "
                  />
                  <img
                    class="c-card-rating__img"
                    src="@img/ratings/1x/1x-riot-buttons.jpg"
                    loading="lazy"
                    alt="Бунт кнопок. 30 лучших работодателей Украины — рейтинг Фокуса"
                    width="324"
                    height="194"
                  />
                </picture>
                <h3 class="c-card-rating__title">
                  <a
                    class="c-card-rating__link c-card-rating__link--dark u-link"
                    href="#"
                  >
                    Бунт кнопок. 30 лучших работодателей Украины — рейтинг
                    Фокуса</a
                  >
                </h3>
              </div>
            </article>
          </li>
          <li class="c-slider-ratings__item">
            <article class="c-card-rating c-card-rating--bgc--dark">
              <div
                class="c-slider-ratings__item-content c-card-rating__content"
              >
                <a
                  class="c-card-rating__link-category c-link-category-without-bgc"
                  href="#"
                  >Рейтинг</a
                >
                <span class="c-card-rating__number">100</span>
                <h3 class="c-card-rating__title">
                  <a class="c-card-rating__link u-link" href="#"
                    >Самые богатые люди Украины. Полный список</a
                  >
                </h3>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <button
        class="c-slider-ratings__button-arrow c-slider-ratings__button-arrow--left c-button-arrow"
        type="button"
        aria-label="Previous"
      >
        <svg class="c-button-arrow__icon" width="24" height="47">
          <use href="@img/icons/icons.svg#arrow-left"></use>
        </svg>
      </button>
      <button
        class="c-slider-ratings__button-arrow c-slider-ratings__button-arrow--right c-button-arrow"
        type="button"
        aria-label="Next"
      >
        <svg class="c-button-arrow__icon" width="24" height="47">
          <use href="@img/icons/icons.svg#arrow-right"></use>
        </svg>
      </button>
      <div class="c-slider-ratings__scrollbar c-progress__scrollbar">
        <div
          class="c-slider-ratings__scrollbar-drag c-progress__scrollbar-drag"
        ></div>
      </div>
    </div>
  </div>
</section>
