<section id="special-topic">
  <div class="my-container">
    <article>
      <h2>Потоп на западной Украине</h2>
      <div>
        <picture>
          <source
            srcset="
              @img/special-topic/1x/1x-flood-in-western-ukraine.webp 1x,
              @img/special-topic/2x/2x-flood-in-western-ukraine.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              @img/special-topic/1x/1x-flood-in-western-ukraine.jpg 1x,
              @img/special-topic/2x/2x-flood-in-western-ukraine.jpg 2x
            "
          />
          <img
            src="@img/special-topic/1x/1x-flood-in-western-ukraine.jpg"
            alt="Потоп на западной Украине"
            width="1272"
            height="302"
          />
        </picture>
      </div>
      <a href="#">Смотреть все материалы</a>
      <div>
        <ul>
          <li>
            <a href="#">
              Появилось видео затопленного Галича с воздуха
              <span>14:26</span>
            </a>
          </li>
          <li>
            <a href="#">
              Ущерб от наводнения на Закарпатье оценили в 125 млн гривен
              <span>17:10</span>
            </a>
          </li>
          <li>
            <a href="#">
              Появилось видео затопленного Галича с воздуха
              <span>14:26</span>
            </a>
          </li>
          <li>
            <a href="#">
              Ущерб от наводнения на Закарпатье оценили в 125 млн гривен
              <span>17:10</span>
            </a>
          </li>
          <li>
            <a href="#">
              Появилось видео затопленного Галича с воздуха
              <span>14:26</span>
            </a>
          </li>
          <li>
            <a href="#">
              Ущерб от наводнения на Закарпатье оценили в 125 млн гривен
              <span>17:10</span>
            </a>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>
