<section class="b-special-topic" id="special-topic">
  <div class="c-container">
    <h2 class="u-visually-hidden">Спецтема</h2>
    <article class="b-special-topic__card-topic c-card-topic">
      <picture class="c-card-topic__picture">
        <source
          srcset="
            @img/special-topic/1x/1x-flood-in-western-ukraine-desktop.webp 1x,
            @img/special-topic/2x/2x-flood-in-western-ukraine-desktop.webp 2x
          "
          media="(min-width: 1440px)"
          type="image/webp"
        />
        <source
          srcset="
            @img/special-topic/1x/1x-flood-in-western-ukraine-desktop.jpg 1x,
            @img/special-topic/2x/2x-flood-in-western-ukraine-desktop.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            @img/special-topic/1x/1x-flood-in-western-ukraine-small-desktop.webp 1x,
            @img/special-topic/2x/2x-flood-in-western-ukraine-small-desktop.webp 2x
          "
          media="(min-width: 1024px)"
          type="image/webp"
        />
        <source
          srcset="
            @img/special-topic/1x/1x-flood-in-western-ukraine-small-desktop.jpg 1x,
            @img/special-topic/2x/2x-flood-in-western-ukraine-small-desktop.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            @img/special-topic/1x/1x-flood-in-western-ukraine-tablet.webp 1x,
            @img/special-topic/2x/2x-flood-in-western-ukraine-tablet.webp 2x
          "
          media="(min-width: 480px)"
          type="image/webp"
        />
        <source
          srcset="
            @img/special-topic/1x/1x-flood-in-western-ukraine-tablet.jpg 1x,
            @img/special-topic/2x/2x-flood-in-western-ukraine-tablet.jpg 2x
          "
          media="(min-width: 480px)"
        />
        <source
          srcset="
            @img/special-topic/1x/1x-flood-in-western-ukraine-mobile.webp 1x,
            @img/special-topic/2x/2x-flood-in-western-ukraine-mobile.webp 2x
          "
          media="(max-width: 479px)"
          type="image/webp"
        />
        <source
          srcset="
            @img/special-topic/1x/1x-flood-in-western-ukraine-mobile.jpg 1x,
            @img/special-topic/2x/2x-flood-in-western-ukraine-mobile.jpg 2x
          "
          media="(max-width: 479px)"
        />
        <img
          class="c-card-topic__img"
          src="@img/special-topic/1x/1x-flood-in-western-ukraine-desktop.jpg"
          loading="lazy"
          alt="Потоп на западной Украине"
          width="1272"
          height="302"
        />
      </picture>
      <div class="c-card-topic__main">
        <h2 class="c-card-topic__title">Потоп на западной Украине</h2>
        <a class="c-card-topic__link" href="#">Смотреть все материалы</a>
      </div>
      <ul class="c-card-topic__content-list u-scroll-custom">
        <li class="c-card-topic__content-item">
          <a class="c-card-topic__content-link" href="#">
            <span class="c-card-topic__content-text">
              Появилось видео затопленного Галича с воздуха
            </span>
            <time class="c-card-topic__content-time">14:26</time>
          </a>
        </li>
        <li class="c-card-topic__content-item">
          <a class="c-card-topic__content-link" href="#">
            <span class="c-card-topic__content-text">
              Ущерб от наводнения на Закарпатье оценили в 125 млн гривен</span
            >
            <time class="c-card-topic__content-time">17:10</time>
          </a>
        </li>
        <li class="c-card-topic__content-item">
          <a class="c-card-topic__content-link" href="#">
            <span class="c-card-topic__content-text">
              Появилось видео затопленного Галича с воздуха</span
            >
            <time class="c-card-topic__content-time">14:26</time>
          </a>
        </li>
        <li class="c-card-topic__content-item">
          <a class="c-card-topic__content-link" href="#">
            <span class="c-card-topic__content-text">
              Ущерб от наводнения на Закарпатье оценили в 125 млн гривен</span
            >
            <time class="c-card-topic__content-time">17:10</time>
          </a>
        </li>
        <li class="c-card-topic__content-item">
          <a class="c-card-topic__content-link" href="#">
            <span class="c-card-topic__content-text">
              Появилось видео затопленного Галича с воздуха</span
            >
            <time class="c-card-topic__content-time">14:26</time>
          </a>
        </li>
        <li class="c-card-topic__content-item">
          <a class="c-card-topic__content-link" href="#">
            <span class="c-card-topic__content-text">
              Ущерб от наводнения на Закарпатье оценили в 125 млн гривен</span
            >
            <time class="c-card-topic__content-time">17:10</time>
          </a>
        </li>
      </ul>
    </article>
  </div>
</section>
