<section class="special-topic" id="special-topic">
  <div class="my-container special-topic__my-container">
    <article class="c-topic">
      <div class="c-topic__img-wrapper">
        <picture>
          <source
            srcset="
              @img/special-topic/1x/1x-flood-in-western-ukraine-desktop.webp 1x,
              @img/special-topic/2x/2x-flood-in-western-ukraine-desktop.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              @img/special-topic/1x/1x-flood-in-western-ukraine-desktop.jpg 1x,
              @img/special-topic/2x/2x-flood-in-western-ukraine-desktop.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              @img/special-topic/1x/1x-flood-in-western-ukraine-small-desktop.webp 1x,
              @img/special-topic/2x/2x-flood-in-western-ukraine-small-desktop.webp 2x
            "
            media="(min-width: 1024px)"
            type="image/webp"
          />
          <source
            srcset="
              @img/special-topic/1x/1x-flood-in-western-ukraine-small-desktop.jpg 1x,
              @img/special-topic/2x/2x-flood-in-western-ukraine-small-desktop.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              @img/special-topic/1x/1x-flood-in-western-ukraine-tablet.webp 1x,
              @img/special-topic/2x/2x-flood-in-western-ukraine-tablet.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              @img/special-topic/1x/1x-flood-in-western-ukraine-tablet.jpg 1x,
              @img/special-topic/2x/2x-flood-in-western-ukraine-tablet.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              @img/special-topic/1x/1x-flood-in-western-ukraine-mobile.webp 1x,
              @img/special-topic/2x/2x-flood-in-western-ukraine-mobile.webp 2x
            "
            media="(min-width: 360px)"
            type="image/webp"
          />
          <source
            srcset="
              @img/special-topic/1x/1x-flood-in-western-ukraine-mobile.jpg 1x,
              @img/special-topic/2x/2x-flood-in-western-ukraine-mobile.jpg 2x
            "
            media="(min-width: 360px)"
          />
          <img
            class="c-topic__img"
            src="@img/special-topic/1x/1x-flood-in-western-ukraine-desktop.jpg"
            alt="Потоп на западной Украине"
            width="1272"
            height="302"
          />
        </picture>
      </div>
      <div class="c-topic__title-wrapper">
        <h2 class="c-topic__title">Потоп на западной Украине</h2>
        <a href="#" class="c-topic__link">Смотреть все материалы</a>
      </div>
      <ul class="c-content-list c-topic__content-list u-scroll-custom">
        <li class="c-content-list__item">
          <a href="#" class="c-content-list__link">
            <span class="c-content-list__text">
              Появилось видео затопленного Галича с воздуха
            </span>
            <span class="c-content-list__time">14:26</span>
          </a>
        </li>
        <li class="c-content-list__item">
          <a href="#" class="c-content-list__link">
            <span class="c-content-list__text">
              Ущерб от наводнения на Закарпатье оценили в 125 млн гривен</span
            >
            <span class="c-content-list__time">17:10</span>
          </a>
        </li>
        <li class="c-content-list__item">
          <a href="#" class="c-content-list__link">
            <span class="c-content-list__text">
              Появилось видео затопленного Галича с воздуха</span
            >
            <span class="c-content-list__time">14:26</span>
          </a>
        </li>
        <li class="c-content-list__item">
          <a href="#" class="c-content-list__link">
            <span class="c-content-list__text">
              Ущерб от наводнения на Закарпатье оценили в 125 млн гривен</span
            >
            <span class="c-content-list__time">17:10</span>
          </a>
        </li>
        <li class="c-content-list__item">
          <a href="#" class="c-content-list__link">
            <span class="c-content-list__text">
              Появилось видео затопленного Галича с воздуха</span
            >
            <span class="c-content-list__time">14:26</span>
          </a>
        </li>
        <li class="c-content-list__item">
          <a href="#" class="c-content-list__link">
            <span class="c-content-list__text">
              Ущерб от наводнения на Закарпатье оценили в 125 млн гривен</span
            >
            <span class="c-content-list__time">17:10</span>
          </a>
        </li>
      </ul>
    </article>
  </div>
</section>
