<section class="b-subscription" id="subscription">
  <div class="c-container">
    <h2 class="u-visually-hidden">Подписка</h2>
    <div class="b-subscription__wrapper">
      <ul class="b-subscription__focus-list">
        <li class="b-subscription__focus-item">
          <article class="c-focus-card">
            <h3 class="u-visually-hidden">Фокус</h3>
            <a class="c-focus-card__link" href="#">
              <picture class="c-focus-card__picture">
                <source
                  srcset="
                    @img/subscription/1x/1x-focus-1.webp 1x,
                    @img/subscription/2x/2x-focus-1.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/subscription/1x/1x-focus-1.jpg 1x,
                    @img/subscription/2x/2x-focus-1.jpg 2x
                  "
                />
                <img
                  class="c-focus-card__img"
                  src="@img/subscription/1x/1x-focus-1.jpg"
                  loading="lazy"
                  alt="Фокус"
                  width="85"
                  height="86"
                />
              </picture>
            </a>
          </article>
        </li>
        <li class="b-subscription__focus-item">
          <article class="c-focus-card">
            <h3 class="u-visually-hidden">Фокус</h3>
            <a class="c-focus-card__link" href="#">
              <picture class="c-focus-card__picture">
                <source
                  srcset="
                    @img/subscription/1x/1x-focus-2.webp 1x,
                    @img/subscription/2x/2x-focus-2.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/subscription/1x/1x-focus-2.jpg 1x,
                    @img/subscription/2x/2x-focus-2.jpg 2x
                  "
                />
                <img
                  class="c-focus-card__img"
                  src="@img/subscription/1x/1x-focus-2.jpg"
                  loading="lazy"
                  alt="Фокус"
                  width="106"
                  height="97"
                />
              </picture>
            </a>
          </article>
        </li>
        <li class="b-subscription__focus-item">
          <article class="c-focus-card">
            <h3 class="u-visually-hidden">Фокус</h3>
            <a class="c-focus-card__link" href="#">
              <picture class="c-focus-card__picture">
                <source
                  srcset="
                    @img/subscription/1x/1x-focus-3.webp 1x,
                    @img/subscription/2x/2x-focus-3.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/subscription/1x/1x-focus-3.jpg 1x,
                    @img/subscription/2x/2x-focus-3.jpg 2x
                  "
                />
                <img
                  class="c-focus-card__img"
                  src="@img/subscription/1x/1x-focus-3.jpg"
                  loading="lazy"
                  alt="Фокус"
                  width="85"
                  height="86"
                />
              </picture>
            </a>
          </article>
        </li>
        <li class="b-subscription__focus-item">
          <article class="c-focus-card">
            <h3 class="u-visually-hidden">Фокус</h3>
            <a class="c-focus-card__link" href="#">
              <picture class="c-focus-card__picture">
                <source
                  srcset="
                    @img/subscription/1x/1x-focus-4.webp 1x,
                    @img/subscription/2x/2x-focus-4.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/subscription/1x/1x-focus-4.jpg 1x,
                    @img/subscription/2x/2x-focus-4.jpg 2x
                  "
                />
                <img
                  class="c-focus-card__img"
                  src="@img/subscription/1x/1x-focus-4.jpg"
                  loading="lazy"
                  alt="Фокус"
                  width="106"
                  height="93"
                />
              </picture>
            </a>
          </article>
        </li>
        <li class="b-subscription__focus-item">
          <article class="c-focus-card">
            <h3 class="u-visually-hidden">Фокус</h3>
            <a class="c-focus-card__link" href="#">
              <picture class="c-focus-card__picture">
                <source
                  srcset="
                    @img/subscription/1x/1x-focus-5.webp 1x,
                    @img/subscription/2x/2x-focus-5.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    @img/subscription/1x/1x-focus-5.jpg 1x,
                    @img/subscription/2x/2x-focus-5.jpg 2x
                  "
                />
                <img
                  class="c-focus-card__img"
                  src="@img/subscription/1x/1x-focus-5.jpg"
                  loading="lazy"
                  alt="Фокус"
                  width="85"
                  height="86"
                />
              </picture>
            </a>
          </article>
        </li>
      </ul>
      <div class="b-subscription__text-wrapper">
        <p class="b-subscription__text">Подпишись с другом!</p>
        <p class="b-subscription__subtext">-10% каждому</p>
      </div>
      <button class="b-subscription__button c-button" type="button">
        Подписаться
      </button>
    </div>
  </div>
</section>
