<section>
  <div class="my-container">
    <h2>Украина</h2>
    <ul>
      <li>
        <article>
          <a href="#">Украина</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/ukraine/1x/1x-trust-check.webp 1x,
                  @img/ukraine/2x/2x-trust-check.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/ukraine/1x/1x-trust-check.jpg 1x,
                  @img/ukraine/2x/2x-trust-check.jpg 2x
                "
              />
              <img
                src="@img/ukraine/1x/1x-trust-check.jpg"
                alt="Проверка доверия: владелец «Три Н» Максим Криппа о махинациях в
                  благотворительности"
                width="300"
                height="260"
              />
            </picture>
          </div>
          <div>
            <h3>
              Проверка доверия: владелец «Три Н» Максим Криппа о махинациях в
              благотворительности
            </h3>
            <span>15:44</span>
          </div>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Украина</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/ukraine/1x/1x-exit-from-quarantine.webp 1x,
                  @img/ukraine/2x/2x-exit-from-quarantine.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/ukraine/1x/1x-exit-from-quarantine.jpg 1x,
                  @img/ukraine/2x/2x-exit-from-quarantine.jpg 2x
                "
              />
              <img
                src="@img/ukraine/1x/1x-exit-from-quarantine.jpg"
                alt="Выход из карантина: Кабмин разрешил открыть кинотеатры со 2 июля"
                width="300"
                height="260"
              />
            </picture>
          </div>
          <div>
            <h3>
              Выход из карантина: Кабмин разрешил открыть кинотеатры со 2 июля
            </h3>
            <span>15:44</span>
          </div>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Фото дня</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/ukraine/1x/1x-business-and-pleasure.webp 1x,
                  @img/ukraine/2x/2x-business-and-pleasure.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/ukraine/1x/1x-business-and-pleasure.jpg 1x,
                  @img/ukraine/2x/2x-business-and-pleasure.jpg 2x
                "
              />
              <img
                src="@img/ukraine/1x/1x-business-and-pleasure.jpg"
                alt="Бизнес и немного удовольствия: Grand Hotel Lviv Luxury & SPA"
                width="624"
                height="400"
              />
            </picture>
          </div>
          <h3>Бизнес и немного удовольствия: Grand Hotel Lviv Luxury & SPA</h3>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Украина</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/ukraine/1x/1x-time-to-go-home.webp 1x,
                  @img/ukraine/2x/2x-time-to-go-home.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/ukraine/1x/1x-time-to-go-home.jpg 1x,
                  @img/ukraine/2x/2x-time-to-go-home.jpg 2x
                "
              />
              <img
                src="@img/ukraine/1x/1x-time-to-go-home.jpg"
                alt="Пора домой. Истории мигрантов, которые вернулись в Украину из ОАЭ,
        Китая и Польши"
                width="300"
                height="260"
              />
            </picture>
          </div>
          <div>
            <h3>
              Пора домой. Истории мигрантов, которые вернулись в Украину из ОАЭ,
              Китая и Польши
            </h3>
            <span>15:44</span>
          </div>
        </article>
      </li>
      <li>
        <article>
          <a href="#"></a>
          <div>
            <p>Мнение</p>
            <svg width="12" height="20">
              <use href="@img/icons/icons.svg#vector"></use>
            </svg>
            <svg width="12" height="20">
              <use href="@img/icons/icons.svg#vector"></use>
            </svg>
            <h3>
              “Государство или смерть. Какой кризис станет для Украины
              последним”
            </h3>
          </div>
          <a href="#">
            <picture>
              <source
                srcset="
                  @img/ukraine/1x/1x-mikhail-baginsky.webp 1x,
                  @img/ukraine/2x/2x-mikhail-baginsky.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/ukraine/1x/1x-mikhail-baginsky.jpg 1x,
                  @img/ukraine/2x/2x-mikhail-baginsky.jpg 2x
                "
              />
              <img
                src="@img/ukraine/1x/1x-mikhail-baginsky.jpg"
                alt="Михаил Багинский"
                width="32"
                height="32"
              />
            </picture>
            Михаил Багинский
          </a>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Украина</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/ukraine/1x/1x-concrete-heel.webp 1x,
                  @img/ukraine/2x/2x-concrete-heel.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/ukraine/1x/1x-concrete-heel.jpg 1x,
                  @img/ukraine/2x/2x-concrete-heel.jpg 2x
                "
              />
              <img
                src="@img/ukraine/1x/1x-concrete-heel.jpg"
                alt="Бетонная пята. Как застройщики превращают украинские города в ад"
                width="300"
                height="260"
              />
            </picture>
          </div>
          <div>
            <h3>
              Бетонная пята. Как застройщики превращают украинские города в ад
            </h3>
            <span>15:44</span>
          </div>
        </article>
      </li>
      <li>
        <article>
          <a href="#">Украина</a>
          <a href="#"></a>
          <div>
            <picture>
              <source
                srcset="
                  @img/ukraine/1x/1x-marathon-death.webp 1x,
                  @img/ukraine/2x/2x-marathon-death.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/ukraine/1x/1x-marathon-death.jpg 1x,
                  @img/ukraine/2x/2x-marathon-death.jpg 2x
                "
              />
              <img
                src="@img/ukraine/1x/1x-marathon-death.jpg"
                alt="Смерть марафонца. Можно ли было спасти Екатерину Катющеву"
                width="300"
                height="260"
              />
            </picture>
          </div>
          <div>
            <h3>Смерть марафонца. Можно ли было спасти Екатерину Катющеву</h3>
            <span>15:44</span>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
