<section class="b-ukraine">
  <div class="c-container">
    <h2 class="b-ukraine__title c-title">Украина</h2>
    <ul class="c-grid-list">
      <li class="c-grid-list__item">
        <article class="c-card-category-small">
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--bottom c-link-category"
            href="#"
            >Украина</a
          >
          <picture class="c-card-category-small__picture">
            <source
              srcset="
                @img/ukraine/1x/1x-trust-check.webp 1x,
                @img/ukraine/2x/2x-trust-check.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/ukraine/1x/1x-trust-check.jpg 1x,
                @img/ukraine/2x/2x-trust-check.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/ukraine/1x/1x-trust-check.jpg"
              loading="lazy"
              alt="Проверка доверия: владелец «Три Н» Максим Криппа о махинациях в
                  благотворительности"
              width="300"
              height="260"
            />
          </picture>
          <div class="c-card-category-small__content">
            <h3 class="c-card-category-small__title">
              <a class="c-card-category-small__link u-link" href="#">
                Проверка доверия: владелец «Три Н» Максим Криппа о махинациях в
                благотворительности</a
              >
            </h3>
            <time class="c-card-category-small__time">15:44</time>
          </div>
        </article>
      </li>
      <li class="c-grid-list__item">
        <article class="c-card-category-small">
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--bottom c-link-category"
            href="#"
            >Украина</a
          >
          <picture class="c-card-category-small__picture">
            <source
              srcset="
                @img/ukraine/1x/1x-exit-from-quarantine.webp 1x,
                @img/ukraine/2x/2x-exit-from-quarantine.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/ukraine/1x/1x-exit-from-quarantine.jpg 1x,
                @img/ukraine/2x/2x-exit-from-quarantine.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/ukraine/1x/1x-exit-from-quarantine.jpg"
              loading="lazy"
              alt="Выход из карантина: Кабмин разрешил открыть кинотеатры со 2 июля"
              width="300"
              height="260"
            />
          </picture>
          <div class="c-card-category-small__content">
            <h3 class="c-card-category-small__title">
              <a class="c-card-category-small__link u-link" href="#"
                >Выход из карантина: Кабмин разрешил открыть кинотеатры со 2
                июля</a
              >
            </h3>
            <time class="c-card-category-small__time">15:44</time>
          </div>
        </article>
      </li>
      <li class="c-grid-list__item c-grid-list__item--grid-column--2tracks-ukr">
        <article class="c-card-photo-day">
          <a
            class="c-card-photo-day__category c-link-category c-link-category--lite"
            href="#"
            >Фото дня</a
          >
          <picture class="c-card-photo-day__picture">
            <source
              srcset="
                @img/ukraine/1x/1x-business-and-pleasure.webp 1x,
                @img/ukraine/2x/2x-business-and-pleasure.webp 2x
              "
              media="(min-width: 768px) and (max-width: 1023px)"
              type="image/webp"
            />
            <source
              srcset="
                @img/ukraine/1x/1x-business-and-pleasure.jpg 1x,
                @img/ukraine/2x/2x-business-and-pleasure.jpg 2x
              "
              media="(min-width: 768px) and (max-width: 1023px)"
            />
            <source
              srcset="
                @img/ukraine/1x/1x-business-and-pleasure-small.webp 1x,
                @img/ukraine/2x/2x-business-and-pleasure-small.webp 2x
              "
              media="(min-width: 1024px) and (max-width: 1439px)"
              type="image/webp"
            />
            <source
              srcset="
                @img/ukraine/1x/1x-business-and-pleasure-small.jpg 1x,
                @img/ukraine/2x/2x-business-and-pleasure-small.jpg 2x
              "
              media="(min-width: 1024px) and (max-width: 1439px)"
            />
            <source
              srcset="
                @img/ukraine/1x/1x-business-and-pleasure-small.webp 1x,
                @img/ukraine/2x/2x-business-and-pleasure-small.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                @img/ukraine/1x/1x-business-and-pleasure-small.jpg 1x,
                @img/ukraine/2x/2x-business-and-pleasure-small.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="c-card-photo-day__img"
              src="@img/ukraine/1x/1x-business-and-pleasure.jpg"
              loading="lazy"
              alt="Бизнес и немного удовольствия: Grand Hotel Lviv Luxury & SPA"
              width="624"
              height="400"
            />
          </picture>
          <h3 class="c-card-photo-day__title">
            <a class="c-card-photo-day__link u-link" href="#">
              Бизнес и немного удовольствия: Grand Hotel Lviv Luxury & SPA
            </a>
          </h3>
        </article>
      </li>
      <li class="c-grid-list__item">
        <article class="c-card-category-small">
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--bottom c-link-category"
            href="#"
            >Украина</a
          >
          <picture class="c-card-category-small__picture">
            <source
              srcset="
                @img/ukraine/1x/1x-time-to-go-home.webp 1x,
                @img/ukraine/2x/2x-time-to-go-home.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/ukraine/1x/1x-time-to-go-home.jpg 1x,
                @img/ukraine/2x/2x-time-to-go-home.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/ukraine/1x/1x-time-to-go-home.jpg"
              loading="lazy"
              alt="Пора домой. Истории мигрантов, которые вернулись в Украину из ОАЭ,
        Китая и Польши"
              width="300"
              height="260"
            />
          </picture>
          <div class="c-card-category-small__content">
            <h3 class="c-card-category-small__title">
              <a class="c-card-category-small__link u-link" href="#">
                Пора домой. Истории мигрантов, которые вернулись в Украину из
                ОАЭ, Китая и Польши
              </a>
            </h3>
            <time class="c-card-category-small__time">15:44</time>
          </div>
        </article>
      </li>
      <li class="c-grid-list__item">
        <article class="c-card-opinion">
          <a class="c-card-opinion__link-category" href="#">Мнение</a>
          <div class="c-card-opinion__icon-wrapper">
            <svg class="c-card-opinion__icon" width="12" height="20">
              <use href="@img/icons/icons.svg#vector"></use>
            </svg>
            <svg class="c-card-opinion__icon" width="12" height="20">
              <use href="@img/icons/icons.svg#vector"></use>
            </svg>
          </div>
          <h3 class="c-card-opinion__title">
            <a class="c-card-opinion__link u-link" href="#">
              “Государство или смерть. Какой кризис станет для Украины
              последним”
            </a>
          </h3>
          <a class="c-card-opinion__author-link" href="#">
            <picture class="c-card-opinion__author-picture">
              <source
                srcset="
                  @img/ukraine/1x/1x-mikhail-baginsky.webp 1x,
                  @img/ukraine/2x/2x-mikhail-baginsky.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  @img/ukraine/1x/1x-mikhail-baginsky.jpg 1x,
                  @img/ukraine/2x/2x-mikhail-baginsky.jpg 2x
                "
              />
              <img
                class="c-card-opinion__author-img"
                src="@img/ukraine/1x/1x-mikhail-baginsky.jpg"
                loading="lazy"
                alt="Михаил Багинский"
                width="32"
                height="32"
              />
            </picture>
            <span class="c-card-opinion__author-name">Михаил Багинский</span>
          </a>
        </article>
      </li>
      <li class="c-grid-list__item">
        <article class="c-card-category-small">
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--bottom c-link-category"
            href="#"
            >Украина</a
          >
          <picture class="c-card-category-small__picture">
            <source
              srcset="
                @img/ukraine/1x/1x-concrete-heel.webp 1x,
                @img/ukraine/2x/2x-concrete-heel.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/ukraine/1x/1x-concrete-heel.jpg 1x,
                @img/ukraine/2x/2x-concrete-heel.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/ukraine/1x/1x-concrete-heel.jpg"
              loading="lazy"
              alt="Бетонная пята. Как застройщики превращают украинские города в ад"
              width="300"
              height="260"
            />
          </picture>
          <div class="c-card-category-small__content">
            <h3 class="c-card-category-small__title">
              <a class="c-card-category-small__link u-link" href="#">
                Бетонная пята. Как застройщики превращают украинские города в
                ад</a
              >
            </h3>
            <time class="c-card-category-small__time">15:44</time>
          </div>
        </article>
      </li>
      <li class="c-grid-list__item">
        <article class="c-card-category-small">
          <a
            class="c-card-category-small__category c-card-category-small__category--absolute--bottom c-link-category"
            href="#"
            >Украина</a
          >
          <picture class="c-card-category-small__picture">
            <source
              srcset="
                @img/ukraine/1x/1x-marathon-death.webp 1x,
                @img/ukraine/2x/2x-marathon-death.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                @img/ukraine/1x/1x-marathon-death.jpg 1x,
                @img/ukraine/2x/2x-marathon-death.jpg 2x
              "
            />
            <img
              class="c-card-category-small__img"
              src="@img/ukraine/1x/1x-marathon-death.jpg"
              loading="lazy"
              alt="Смерть марафонца. Можно ли было спасти Екатерину Катющеву"
              width="300"
              height="260"
            />
          </picture>
          <div class="c-card-category-small__content">
            <h3 class="c-card-category-small__title">
              <a class="c-card-category-small__link u-link" href="#">
                Смерть марафонца. Можно ли было спасти Екатерину Катющеву</a
              >
            </h3>
            <time class="c-card-category-small__time">15:44</time>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
