@media (max-width: 767px) {
  .carousel-ratings .carousel-item > article {
    display: none;
  }
  .carousel-ratings .carousel-item > article:first-child {
    display: block;
  }
}

.carousel-ratings .carousel-item.active,
.carousel-ratings .carousel-item-next,
.carousel-ratings .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-ratings .carousel-item-end.active,
  .carousel-ratings .carousel-item-next {
    transform: translateX(33.333333%);
  }

  .carousel-ratings .carousel-item-start.active,
  .carousel-ratings .carousel-item-prev {
    transform: translateX(-33.33333%);
  }
}

.carousel-ratings .carousel-item-end,
.carousel-ratings .carousel-item-start {
  transform: translateX(0);
}
